
@{
    ViewBag.Title = "Feedback -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .col-md-4{
        height:400px;
        overflow-x:scroll;
    }
    p{
        font-size:14px;
    }
</style>
<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">

    <div class="services" id="services">
        <div>
            <div class="visible-desktop">
                <img style="height:250px; width:1020px; background-color:skyblue" class="img-thumbnail" src="~/images/feedback.jpg" />

            </div>
            <div class="visible-phone">
                <img style="height:200px; width:1020px; background-color:skyblue" class="img-thumbnail" src="~/images/feedback.jpg" />

            </div>
            <center>
                <h4 style="color:green">Here I am sharing my  Success Journey with CIIT Training Institute</h4>

            </center>

        </div>
        <div class="col-md-12">




            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float:left; margin: 10px; border-radius: 10%;" />

                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px; ">Minhaj Siddiqui</span></p>
                    <p>Very good teaching.......Excellent knowledge about languages and latest technologies.Batches manages as per student time.Live project opportunities are available.Person to person problem solving......Fabulas......I will suggest to every one about CIIT</p>
                </div>
            </div>

            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Pallavi Deokate</span></p>
                    <p>I have completed Full Stack Development in Dot Net from CIIT Training Institute Hadapsar. This is really good Institute. Mr. Yuvraj Sir is very cooperative and teach updated technologies. I suggest to join this Institute, to make your career.</p>
                </div>
            </div>

            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">

                    <p><span style=" font-size: 20px; margin-right: 15px;">Vaibhav Sontakke</span></p>
                    <p>It is one of the best institute. There is a experience staff. All staff provides good training. It is best institute for fresher as well as experienced. Mr. Yuvraj sir always here for students.</p>
                </div>
            </div>

            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Pavan Mashalkar</span></p>
                    <p>Good teaching staff ,friendly environment .Best training institute to IT or non IT background students.Heartly thanks to Yuraj sir n all staff for ur guidance n cooperation..</p>
                </div>
            </div>

            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Shubham Londhe</span></p>
                    <p>It's "Excellent" learning experience with CIIT Training Institute . Good Training center especially in Dot net full stack development. Specialy thanks to Yuraj sir n all staff for ur guidance n cooperation.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Santosh Sontakke</span></p>
                    <p>ciit training institute is very nice teaching and staff 100% job assuriance and all problems solved  thank you sir...</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Anuradha Chiloba</span></p>
                    <p>ciit training institute is very good training institute for both IT and non-IT student....staff is very helpful.....</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Pratiksha Nadhe</span></p>
                    <p>"I Completed my Dot net Full Stack Developer course in CIIT institute Viman Nagar. The Trainers will identify the issue faced by the student and will guide the person to the best of their knowledge. They all are very sincere and dedicated person. So I strongly recommend to all for joining this institute.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Ashwini Desai</span></p>
                    <p>ciit training institute is good.staff is very supportive.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Vaibhav Jagtap</span></p>
                    <p>
                        CIIT training institute (Viman Nagar) is a really good institute for IT related courses. The syllabus is updated with the current technologies used in the industry. Faculty Yuvraj Sir is well versed with his concepts and a highly motivated person.

                        Thank you CIIT for sharing the knowledge and helping me get placed.
                    </p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Priya Napte</span></p>
                    <p>It's "Awesome and Excellent" learning experience with CIIT Training Institute . Good Training center especially in Dot net full stack developer, Liked their training environment, best lab facility, good materials and very good experienced trainer.</p>
                </div>
            </div>
          
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Shital Walunj</span></p>
                    <p>
                        CIIT is the best training institute. I join this institute to learn everything about the technology.
                        Environment is friendly u can learn lots of things in daily routine.
                        Staff members are very supportive & and class environment is friendly.
                    </p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Tushar Mahadik</span></p>
                    <p>Good teaching staff ,friendly environment .Best training institute to non IT background students.Heartly thanks to Yuraj sir n all staff for ur guidance n cooperation..</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Sonam Jhanwar</span></p>
                    <p>it was pleasure to had training here. Thanks yuvraj sir for helping me in learning of automation testing.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Sachin Patil</span></p>
                    <p>
                        What i had expected related to studies I got here only...
                        Great place to learn with yuvraj Sir..
                        One Man with multiple knowelge..
                    </p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Vishwajyoti Walode</span></p>
                    <p>Very friendly atmosphere , supportive teaching staff , good learning platform</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Nikhil Gavhale</span></p>
                    <p>Excellent</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Priya Nimodia</span></p>
                    <p>One of the best training institute for freshers as well as working professionals.. </p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Parag Bhute</span></p>
                    <p>
                        <b>Positive</b>: Communication, Professionalism, Quality, Value
                        One of the best training institute in pune. tutor is very experienced and always put extra efforts in teaching. provide high quality training with live projects including interview preparations.
                    </p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Vaishali Bhokare</span></p>
                    <p>This is one of the best place from where I have got trained for Python.Trainers are very helpful where by they always clear doubts and help us understand practicals in a better way.The trainers are good in explaining both theoretical and practical subjects</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Nishanti Shinde</span></p>
                    <p>
                        CIIT is one of the best training institute for both  IT or Non IT as
                        we get to learn each and everything about new technologies in market ..
                        I am very thankful to CIIT training institute for their support.Faculty Yuvraj Sir is well versed with his concepts and a highly motivated person.
                    </p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Vaishnavi Dhamdhare</span></p>
                    <p>CIIT institute of viman Nagar is one of the best training institute for both IT and Non IT people. we get to learn each and everything about new technologies in Market.and Every faculty member s helpful and freindly.. and great environment  in class</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Shivani Kad</span></p>
                    <p>
                        CIIT is one of the best training institute for both ITians and Non-ITians as
                        we get to learn each and everything about new technologies in market ..
                        I am very thankful to CIIT training institute for their support..
                        Every faculty member is very helpful and friendly..And great environment in class..
                    </p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Suraj</span></p>
                    <p>One of the best IT training institute in Pune , after having bad experienced with many institutes from the same building finally I came to CIIT ,the quality and confidence I gain from CIIT is above my expectation. This is the institute where you will get proper practicle knwledge those are required in corporate and Special thanks to Sir Yuvraj Gadadare for his priceless effort to prepare every student a self established developer irespective of technology and the effort they taking to get placed student in diffrent organisation. I also got placed from CIIT only and have done my fullstack developer.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Leena Bhosale</span></p>
                    <p>Good teaching staff,friendly environment.Best training  institute to non IT background students.thanks for all teachers for ur guidance n support.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Pooja Wagh</span></p>
                    <p>The CIIT Training Institute was going well and good..The Trainer teaching skill is very well.They clear all my confusion in Classroom..Well organized class. Very Experienced Trainer.All trainer's are Highly knowledgeable. Well mannered. Exhibits great patience in clarifying doubts. The Environment is Good . Good to be here and acquiring knowledge..</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Pratiksha Tarte</span></p>
                    <p>"I Completed my Dot net Full Stack Developer course in CIIT institute Viman Nagar. The Trainers will identify the issue faced by the student and will guide the person to the best of their knowledge. They all are very sincere and dedicated person. So I strongly recommend to all for joining this institute.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Akshay</span></p>
                    <p>CIIT is one of the best training institute for both IT or Non IT as we get to learn each and everything about new technologies in market ..</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Jyoti</span></p>
                    <p>CIIT Training Institute is really very good.I joined in CIIT for.net training.Infrastructure is very good. The staff are very supportive and helpful! Great environment in classes an unique & friendly staff.I learn many more new things here,it is a great contribution in developing my knowledge.we learn lot of things in institute.i will suggest the students to join for their bright future... Thanks to CIIT...</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Datta</span></p>
                    <p>The Trainer has a very good Knowledge of the subject and he has cleared all my doubts. This institute also provides a very good support as they schedule the class timings as per my routine and arranged even backup classes for me</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Ajay Mane</span></p>
                    <p>CIIT is the best training institute where we can truely get to learn each and everything about the technologies.. I joined the institute for .Net full stack course..Staff members are very supportive. i will suggest the students to join for their bright future.....</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Amitraj Shinde</span></p>
                    <p>It is good. CIIT is the best training institute. I join this institute to learn everything about the technology.Staff members are very supporting. They support me every time.I joined the classes for .net training.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Sonam Vishal Somani</span></p>
                    <p>It was great to have part of Ciit training.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Chetan</span></p>
                    <p>Well, Response I got from this CIIT Training Institute, Hadapsar, Approached this institute for Net training on ASP.NET MVC. I have attended demo classes in this center. they explained to me the course and benefits & fee structure. the course duration was two and a half month its daily classes. they have quoted me 30000 for course fees. I'm satisfied with their response.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Nisha</span></p>
                    <p>It is good. CIIT is the best training institute. I join this institute to learn everything about the technology.Staff members are very supporting. They support me every time.I join .net training.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Diksha Navale</span></p>
                    <p>CIIT is the best training institute .I joined the institute for the .Net training. Staff members are very supportive .we learn lot of things in institute.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Rohini Bhosale</span></p>
                    <p>I enrolled here For.net Full-Stack developer course...."Excellent course. The best instructor-led course I have attended,that exact by far. The course was exactly what I was hoping for.? The course covered an incredible amount of ground in an amazingly short time. But the transitions from topic to topic were seamless, as each topic builds upon the previous one.? Totally I have best Experience....?Totally fantastic, right level, right material.?</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Shivani</span></p>
                    <p>CIIT is the best training institute where one can truely get to learn each and everything about the technologies.. I joined the institute for .Net full stack course..Staff members are very supportive & and class environment is friendly also.. I am very thankful to Yuvraj sir for providing the best.. And i will suggest the students to join here only to get their best..</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Tejaswini Balvantrao</span></p>
                    <p>one of the best training institute of Pune. Trainers are very supportive.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Virendra Parade</span></p>
                    <p>I am a person from mechanical background, but due to interest in web technology, I joined CIIT training institute. First it seemed to be too much difficult but after certain interval of time it seemed much easier due to practice and support form the staff. All credit goes to Yuvraj sir & Priyanka mam who helped me every stage where I used to lack back...anyways thanks CIIT for every support you had given me....</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Sneha Londhe</span></p>
                    <p>I got totally practical knowledge of technical things which are actually did in the Companies. Environment is friendly u can learn lots of things in daily routine.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Rahul</span></p>
                    <p>One of the best IT trining institute in Pune, after having bad experienced with many institutes from the same building finally I came to CIIT ,the quality and confidence I gain from CIIT is above my expectation. This is the institute where you will get proper practicle knwledge those are required in corporate and Special thanks to Sir Yuvraj Gadadare for his priceless effort to prepare every student a self established developer irespective of technology and the effort they taking to get placed student in diffrent organisation. I also got placed from CIIT only and have done my fullstack developer.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Rajesh</span></p>
                    <p>Trainers are well experienced to teach the course related with an real time examples, providing the detailed course with professional and more patients. His session was more interactive and practical.I approached this CIIT Training Institute, Hadapsar for Web designing training for Java Script. I attend the demo classes in this institution. The way of approach by the management was very impressive.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Omkar Zende</span></p>
                    <p>Staff is supportive. Have good knowledge about latest Technologies. Infrastructure is good. Have proper internet network too. Staff is ready to teach difficult topics till understood</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Supriya Vilas Patil</span></p>
                    <p>
                        I joined in CIIT for .net training... Good training quality. The is a fun and inclusive place to study. This is a wonderful place. The staff are very supportive and helpful! I have the best lecturers in any aspects.

                    </p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Kamlesh Rajwade</span></p>
                    <p>I joined in CIIT for .Net training ... good training quality . skill improving training ....and good placement facility.... Nice Supportive staff.</p>
                </div>
            </div>

            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Priyanka Tapkeer</span></p>
                    <p>It was a great time with all of you. Great environment in classes a unique and friendly staff. I learnt many more new things here, it was a great contribution in developing my knowledge. It was a key to develop my self-confidence.Hope you also get lot of success in future..The best place you can find to study software languages is CIIT Training Institute. The CIIT is a fun and inclusive place to study. This is a wonderful place. The staff are very supportive and helpful! I have the best lecturers in any aspects. There is no place like the CIIT. I have loved my time here - best decision I made...Thanks again to all...</p>
                </div>
            </div>

            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">C Murlikrishna</span></p>
                    <p>For C and C++ Programming languages training, I have joined this Institute. The course duration depended on when the course was going to be completed and I have paid the registration amount of 2000.They quoted around 6000 as a course fee and it was s a regular class. This institute is very nice... I am happy and satisfied with their training and faculties.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Shyam</span></p>
                    <p>Hello my age is 51. i am in free lancing sw development field form last 10 years but my specialize was in old vb 6. To get current flow i came to CIIT to get knowledge of .net, MVC etc. Within 3 months i completed it but then also for more 3-4 months Yuvraj Sir guided me to convert my old Vb softwares in MVC in such a way that now my sw are online which was my dream ! Now i can get customers from anywhere. Thanks CIIT.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Ravikiran Bhendegave</span></p>
                    <p>
                        highly experienced trainers as well very supportive staff and totally project based training provider institute in Pune , training make you technically sound survive in industry . training on all technology's are available which
                        are highly recommended in IT industry  Like Angular,React JS, Mongo DB,Python,Data Science,DBA ....etc
                    </p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Arvind</span></p>
                    <p>I have Completed my course from CIIT training institute . He covered every part properly and answer all my queries . Trainers are experienced and have good industry knowledge.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Vishal Jachak</span></p>
                    <p>Recently I Completed my course from CIIT training institute .Trainer is very good explaining the concepts . He covered every part properly and answer all my queries . and they good job placement calls they provide .and so Join this class Thank you.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Ganesh</span></p>
                    <p>CIIT TRAINING INSTITUTE is really very good. Faculty are really supportive and helpful and provide better learning to develop skills for C,C++, Oracle,Java,Dot Net, IT courses and it really helps student to develop there skills in current growing market.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Abbas</span></p>
                    <p>I have joined in this coaching center for my React JS coaching.the course duration is 7 weeks and the classes are on weekend.I paid a reasonable amount for the course fee.they provide me good coaching .the factuality are friendly. the institution is good .happy to join here.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Ashlesha Patil</span></p>
                    <p>Joined in this institute for doing my course. When I visited this institute I am very satisfied with the atmosphere.Faculties and very friendly and well experienced.they have provided very clear and effective training, and their fees structure was 12000 for 2 months of training. I am satisfied with this service center.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Rani Kankate</span></p>
                    <p>Best institute for .net and java training and gives live project..so this will be more helpful for fresher and experience person</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Ashima Rajput</span></p>
                    <p>The best institute for learning from core/basic knowledge to advance knowledge.Go for it.........</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Kokare Vidya Dadaso</span></p>
                    <p>Ciit training institute is the best institute for java,.net,angularjs,mvc. i have completed my .net in ciit institute.currently i got placed in reputed company from ciit institute.thanks ciit.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Poonam</span></p>
                    <p>best institute in pune . Got trained on live project.</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testg.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Gayatri More</span></p>
                    <p>CIIT training institute in good institute</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Sachin Wadkar</span></p>
                    <p>CIIT the best training institute for AngularJS , .NET and Java .i have been completed my .NET training from CIIT.i got my first job from CIIT .Now i am working as a .NET Developer just because of CIIT. Thank you very much CIIT Training institute and their trainers</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Sonu Raut</span></p>
                    <p>CIIT is the best training institute for full stack development, i got my first job from CIIT only with in 2 months.Now i am working as a JAVA Developer just because of CIIT. Thank you very much CIIT Training institute and their trainers</p>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 16px; ">
                <div class="col-md-2">
                    <img src="~/images/testb.png" alt="Avatar" style="width: 90px; float: left; margin: 10px; border-radius: 10%;">
                </div>
                <div class="col-md-10">
                    <p><span style=" font-size: 20px; margin-right: 15px;">Amol</span></p>
                    <p>Good Institute</p>
                </div>
            </div>
        </div>





    </div>
</div>
