
@{
    ViewData["Title"] = "Failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 5.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    Payment Failed.
</div>

