@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7" style="height:700px;">
           <h2 style="color:white">
               Best Plafrom for Freshers and Experienced candidates
           </h2>
        </div>
  </div>
</div>