
@{
    ViewBag.Title = "Mentors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p {
        font-family: 'Bookman Old Style';
    }
</style>
<div class="container" style="margin-top: 3.4%; padding-left: 0px; padding-right: 0px; border-radius: 0.5%; background-color: white;">
    <img src="~/images/ciit-banner.jpg" style="height:300px;width:100%" class="img-thumbnail" />


    <br />
    <br />

    <div class="col-md-9">
        <div class="panel">


            <h3 style="color:Maroon">Our Trainers</h3>
            <p>
                Our real strength is our Training methodology. We are proud to have well experienced Trainers. Our trainers are well trained with lots of industry experience on real time projects.They all  are working professionals with years of experience from desired software field. Our trainers are motivational and inspirational.
                Our trainer's and us main target is to train students on actual industry projects practically with full technical and domain knowledge so every fresher student also can compare him/her with experienced candidate.
            </p>
            <div class="clearfix"></div>
            <!-- <br/>
            <div class="col-md-12">
                <div class="col-md-3">
                    <img src="assets/images/mentors/Male.png" style="height: 120px;width:120px;"/>
                    <h4>Yuvraj Gadadare</h4>
                    <h5 style="text-align:justify;">Director</h5>

                </div>
                <div class="col-md-3">
                    <img src="assets/images/mentors/Female.png" style="height: 120px;width:120px;"/>
                    <h4>Geeta Gadadare</h4>
                    <h5>Director</h5>
                </div>
                <div class="col-md-3">
                    <img src="assets/images/mentors/Female.png" style="height: 120px;width:120px;"/>
                    <h4>Leena Bhosale</h4>
                    <h5>HR</h5>
                </div>
                <div class="col-md-3">
                    <img src="assets/images/mentors/Female.png" style="height: 120px;width:120px;"/>
                    <h4>Seema Bajare</h4>
                    <h5>Mentor</h5>
                </div>
                <div class="col-md-3">
                    <img src="assets/images/mentors/Female.png" style="height: 120px;width:120px;"/>
                    <h4>Priyanka</h4>
                    <h5>Mentor</h5>
                </div>


            </div> -->
        </div>




    </div>
    <div class="col-md-3">

        <ul class="list-group panel panel-primary" style="background-color:skyblue">
            <li class="list-group-item "><a style="font-size:16px;color:blue" href="/About/CIIT">About Company</a></li>
            <li class="list-group-item "><a href="/About/WhyCIIT" style="font-size:16px;color:blue">Why CIIT</a></li>
            <li class="list-group-item "><a href="/About/Founder" style="font-size: 16px; color: blue">Founder</a></li>
            <li class="list-group-item active" style="background-color: blue; "><a href="/About/Mentors" style="font-size: 16px; color: white">Our Core Team</a> </li>

        </ul>


    </div>


</div>




