
@{
    ViewBag.Title = "Why Us -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p {
        font-family: 'Bookman Old Style';
    }
</style>
<div class="container" style="margin-top: 3.4%; padding-left: 0px; padding-right: 0px; border-radius: 0.5%; background-color: white;">

    <img src="~/images/ciit-banner.jpg" style="height:300px;width:100%" class="img-thumbnail" />


    <br />
    <br />
    <div class="col-md-9">

        <div class="panel">
            <h4 style="color:red">Our Mission</h4>
            <br />
            <p>“Our mission is to train each student on real time project and make them job ready with real time experience so that each and every student or working professional associated us can become first choice of IT industry. We will always be dedicated to develop their right skills with right and updated knowledge to make their career a successful.”</p>
        </div>


        <h4 style="color:red">Key Points-Why CIIT?</h4>
        <br />
        <ul>
            <li>
                <h5 style="color: #ed4f2e; font-weight: bold">Success Guarantee</h5>
                <p>
                    At CIIT one can guarantee about the quality of education as we follow well designed processes that take care of every minute details of education delivery.
                    The most important aspect for each course is the trainer. All our trainers are essentially from industries and have real life industry background and thus they are adept with the latest technologies being used. We take regular student feedback and we value the same. We take them very sportingly and we work hard towards getting those flaws fixed. This proves that we value your voices and embrace transparency. Our intentions are not "MASS Training" but "CLASS Training". Hence it’s imperative for the candidates to embark on a selection test prior to enrolling for a program. Only the shortlisted candidates are ascertained to make their mark as a CIIT student thus ensuring the quality of the student intake. Apart from doing all this technological know how we work very hard on the soft skill training part for every student. By doing this, we assure that our students are not only technologically sound but they are also presentable and can fulfil the requirement of every employer from business etiquettes, client communication, and attitude, teamwork perspective.
                </p>

            </li>

            <li>
                <h5 style="color: #ed4f2e; font-weight: bold">100% Industry Oriented Training</h5>
                <p>
                    In you want to get job immediatly , you have to learn each and every thing pratically.CIIT provide you best way to learn any technology practically.
                    Our training happens  100% practically. During training sessions we take hardly 10-15 min concept explaination after that we show how that thing use in real project with real time example.
                    So student get confidence and they get real experience.

                </p>

            </li>

            <li>

                <h5 style="color: #ed4f2e;font-weight:bold"> Chance to Work with Our Development Team</h5>
                <p>
                    We have our own development team for all technologies , so our student get chance to work with our experienced developers on varo=ious technologies.
                    If student work with our team then they comes to know how actual project get develope and how technology and concepts get used.
                    If student work on real project then there will be more chance fo their job in well reputed companies.
                </p> 
            </li>
            <li>
                <h5  style="color: #ed4f2e; font-weight: bold">Highly Experienced Trainers</h5>
                <p>
                    In CIIT , every student will trained by highly experienced trainers.
                    Our trainers has minimum 5+ years of experinece, some of our trainers are corporate trainers
                    Our traineers  train students on real projects.So student get each concept practically.
                </p> 
            </li>

            <li>
                <h5 style="color: #ed4f2e; font-weight: bold">Infrastructure</h5>
                <p>
                    In our office each student get individual machine for practice.Our classrooms are also having machines. In Classroom every student get machin so whatever we teach , they can immidiatly do on their machines.
                    Student can seat from morning to evenining in our institute an do practice. Every student get WIFI facility with unlimited downloading and surffing.

                </p> 
            </li>

            <li>
                <h5 style="color: #ed4f2e; font-weight: bold">Career Counselling</h5>
                <p>
                    We at CIIT, provide the guidance by qualified professionals, after assessing the intelligence, interest and personality of an individual to identify the careers in which the individual will succeed and counsel him/her accordingly. It helps students to select courses based on their level of intelligence, interests, personality and to prepare for appropriate careers. Our primary purpose is to guide you how to explore and investigate your inner potential and overcome your weaknesses. Interest inventories and career tests will not tell you what you could or should do. They will, however, help you organize your thoughts and ideas about the career path that you would like to choose for yourself. Our counselor will review the results with you and guide you in gaining a better understanding of what courses would be suitable for you based on your level of personal interest and capabilities. Making an optimal career choice has been and remains one of the major objectives of career counseling at CIIT.
                </p> 
            </li>

            <li>
                <h5 style="color: #ed4f2e; font-weight: bold">Industry Interaction</h5>
                <p>
                    Industry Interaction is an integral part of every program at CIIT. We always believe that only education is not sufficient to get you in the industry for a job, but a right mix of industrial knowledge is also important. Hence we always focus more on the industry interaction. For this we do following activities.
                </p> 
            </li>
            <li>
                <h5 style="color: #ed4f2e; font-weight: bold">Guest Industry Lectures</h5>
                <p>
                    Lot of eminent personality who are part of real time industry are on the panel of CIIT who constantly visit CIIT and motivates our students. They make every student ready to face the industry in right spirit in terms of their technical knowledge, industry etiquettes, right attitude, team work etc.
                </p> 
            </li>
            <li>
                <h5 style="color: #ed4f2e; font-weight: bold">Industrial Visits</h5>
                <p>
                    Our Industrial Visit Programs are designed to increase candidate’s awareness of the corporate world hands-on activities which would be a driving factor in enriching their careers. We set up a well-planned Industrial Visit which focuses on the concepts that the students need to learn along with providing adequate doses of both theoretical as well as practical learning. This Industrial Visit programme presents the students with opportunities to plan, organise and engage in active learning experiences both inside and outside the classroom.
                </p><br />
            </li>

        </ul>


    </div>






    <div class="col-md-3">

        <ul class="list-group panel panel-primary" style="background-color:skyblue">
            <li class="list-group-item active" style="background-color: blue; "><a style="font-size:16px;color:white" href="/about-ciit">About Company</a></li>
            <li class="list-group-item "><a href="/why-ciit" style="font-size:16px;color:blue">Why CIIT</a></li>
            @*<li class="list-group-item"><a href="/About/Founder" style="font-size: 16px; color: blue">Founder</a></li>
            <li class="list-group-item"><a href="/About/Mentors" style="font-size: 16px; color: blue">Our Core Team</a> </li>*@

        </ul>


    </div>

</div>




