
@{
    ViewBag.Title = "Android Development - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    <div style="height:200px;width:100%;background-color:darkblue;padding-left:0px">
        <div style="background-color: #0dc1d4e0; height: 200px; width: 100%; ">
            <div class="col-md-10">

                <div id="slideshow">
                    <div style="margin:20px">

                        <h4>Make your Bright Career in Android App Development </h4>
                        <h4>Make your Android Dream Come True</h4>

                        <br />
                        <ul style="font-size:14px">
                            <li>Real time project</li>
                            <li> Hands on Training</li>
                            <li>Latest Topics</li>
                            <li>Work with Development Team</li>

                        </ul>



                    </div>
                    <div style="margin:20px">
                        <h4>Why CIIT?</h4>
                        <br />
                        <ul style="font-size: 14px; text-align: initial">
                            <li>Highly Experienced Trainers</li>
                            <li>Chance to work with our development team</li>
                            <li>Experience letter after project completion</li>
                            <li>Real time project Training</li>
                            <li>100% Job assurance</li>
                        </ul>
                    </div>
                    <div style="padding-top:50px">
                        <h4>
                            Every year 600+ Students get placed in IT industry
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-top:10px">
                <div class="visible-desktop">
                    <img src="~/images/banners/androidlogo.png" style="height:150px" alt="Android Training at CIIT Training Institute" />
                </div>


            </div>
        </div>

    </div>






    <div class="col-md-9">

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#CourseOverview" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Overview
                        </a>
                    </li>


                    <li>
                        <a href="#JobOrientedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Job Oriented
                        </a>

                    </li>
                    <li>
                        <a href="#WorkingProfessionalTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400">
                            IT Professionals

                        </a>

                    </li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane fade in active" id="CourseOverview">

                        <br />

                        <h4 style="color:red"> Overview of the Android World </h4>
                        <br />
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            Android delivers a complete set of software for mobile devices: an operating system, middleware and key mobile applications. Android was built from the ground-up to enable developers to create compelling mobile applications that take full advantage of all a handset has to offer. It was built to be truly open. For example, an application can call upon any of the phone’s core functionality such as making calls, sending text messages, or using the camera, allowing developers to create richer and more cohesive experiences for users. Android is built on the open Linux Kernel. Furthermore, it utilizes a custom virtual machine that was designed to optimize memory and hardware resources in a mobile environment. Android is open source; it can be liberally extended to incorporate new cutting edge technologies as they emerge. The platform will continue to evolve as the developer community works together to build innovative mobile applications. <br />
                        </p>
                        <br />
                        <h4 style="color:red"> How CIIT different From Other Institutes </h4>
                        <br />
                        <ul style="font-size:14px;margin-left:20px">
                            <li>100 % On job training<p></p></li>
                            <li>Real time project<p></p></li>
                            <li>Chance to work with our development team<p></p></li>
                            <li>100% Job Assurance<p></p></li>
                            <li>2 years technical support<p></p></li>
                            <li> Experience letter after successful complition of project<p></p></li>
                            <li> Unlimited job calls<p></p></li>
                            <li> Best platform to switch into IT Industry<p></p></li>

                        </ul>

                        <br />



                    </div>


                    <div class="tab-pane fade in" id="JobOrientedTraining">
                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> Diploma in Android  </h4>
                            </div>
                            <div class="panel-body">
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Total Duration - </b>
                                    <span>4 Months (2 months Training and 2 Months Project Internship )</span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>

                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Database - </b>Sqlite</li>
                                        <li class="list-group-item"><b>Java - </b> Core Java</li>
                                        <li class="list-group-item"><b>Android Technology - </b>Core Android , Advance Adnroid , Web Api , Consume Third Party Api </li>
                                        <li class="list-group-item"><b>Projects - </b>1 Real Time Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>


                    </div>

                    <div class="tab-pane fade in" id="WorkingProfessionalTraining">
                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold">Android Project </h4>
                            </div>
                            <div class="panel-body">
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Who can do this course - </b>
                                    <span> IT professionals </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Total Duration - </b>
                                    <span>2 Months (1 Month Training and 1 Month Project Internship )</span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Placement - </b>
                                    <span> Job Assurance </span>
                                </p>

                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">


                                        <li class="list-group-item"><b>Android Technology - </b>Advance Adnroid  </li>
                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>



                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3" style="padding-right:0px">
        @Html.Partial("~/Views/Shared/TrainingMenus.cshtml")

    </div>
</div>




