
@{
    ViewBag.Title = "Big Data Hadoop - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    <div style="height:200px;width:100%;background-color:darkblue;padding-left:0px">
        <div style="background-color:#0dc1d4e0; height: 200px; width: 100%; ">
            <div class="col-md-9">

                <div id="slideshow">
                    <div style="margin-top:20px">

                        <div style="text-align: center;">
                            <h4>Learn Big Data & Hadoop Training From Experts</h4>
                            <br />
                            <br />
                            <h4>Practical Hands on Training with Project</h4>

                        </div>

                    </div>
                    <div style="margin-top:20px">
                        <h4>Why Training With Us?</h4>
                        <br />
                        <ul style="font-size: 14px; text-align: initial">
                            <li>Expert MNC Professionals</li>
                            <li>Corporate way Training</li>
                            <li>100% Hands on</li>
                            <li>Chance to work with Our Development Team</li>
                            <li>100% Job assurance</li>
                        </ul>
                    </div>
                    <div style="margin-top:50px">
                        <h4>
                            Every year 600+ Students get placed in IT industry
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding-right:0px">
                <div class="visible-desktop">

                    <img src="~/images/banners/bighadoop.png" style="height:200px;width:100%;" alt="Big Data & Hadoop Training at CIIT Training Institute" />
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-9">

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#CourseOverview" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Overview
                        </a>
                    </li>
                    <li>
                        <a href="#JobOrientedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Big Data & Hadoop Training
                        </a>
                    </li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane fade in active" id="CourseOverview">
                        <br />
                        <h4 style="color:red">The World Of Big Data</h4>
                        <br />
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            Big Data is the data which can not be processed by traditional database systems i.e.Mysql,Sql.
                            Big data consist of data in the structured ie.Rows and Coloumns format ,semi-structured i.e.XML records and Unstructured format i.e.Text records,Twitter Comments.
                        </p>

                        <br />
                        <h4 style="color:red">The World Of Hadoop</h4>
                        <br />

                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            Hadoop is an software framework for writing and running distributed applications that processes large amount of data.
                            Hadoop Distributed File System is a filesystem designed for large-scale distributed data processing under framework such as Mapreduce.
                            Hadoop framework consist of Storage area known as Hadoop Distributed File System(HDFS) and processing part known as MapReduce programming model.
                            Mapreduce is Data processing model consist of data processing primitives called Mapper and Reducer.

                            Hadoop mainly uses four input formats-FileInput Format, KeyValueTextInput Format, TextInput Format, NLineInput Format.

                            Hadoop works more effectively with single large file than number of smaller one.
                            Hadoop supports chaining MapReduce programs together to form a bigger job.We will explore various joining technique in hadoop
                            for simultaneously processing multiple datasets.Many complex tasks need to be broken down into simpler subtasks,each accomplished by an individual Mapreduce jobs.

                            <br />
                        </p>
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">

                            Hadoop is best used as a write-once,Read-many-times type of datastore.
                            With the help of hadoop large dataset will be divided into smaller (64 or 128 MB) blocks that are spread among many machines in the clusters via Hadoop Distributed File System.

                        </p>
                        <br />
                        <h4 style="color:red">The key functions of hadoop are</h4>
 
                        <br />
                        <ul style="font-size:14px;margin-left:20px">
                            <li><p>Approachable-Hadoop runs on Huge clusters of appropriate Hardware apparatus.</p></li>
                            <li><p>Powerful-Because it is intentional to run on clusters of appropriate Hardware apparatus ,Hadoop is architect with the presumption of repeated hardware malfunctions.It can handle most of such failures.</p></li>
                            <li><p>Resizable-Hadoop mearsures sequentially to hold large data by including more nodes to the cluster.</p></li>
                            <li><p>Simple-Hadoop allows users to speedly write well-organized parallel codes.</p></li>
                        </ul>
                        <br />

                        <h4 style="color:red"> How CIIT different From Other Institutes </h4>
                        <br />

                        <ul style="font-size: 14px; margin-left: 20px">
                            <li>100 % On job training<p></p></li>
                            <li>Real time project<p></p></li>
                            <li>Chance to work with our development team<p></p></li>
                            <li>100% Job Assurance<p></p></li>
                            <li>2 years technical support<p></p></li>
                            <li> Experience letter after successful complition of project<p></p></li>
                            <li> Unlimited job calls<p></p></li>
                            <li> Best platform to switch into IT Industry<p></p></li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane fade in" id="JobOrientedTraining">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold">Hadoop Training With Live Project </h4>
                            </div>
                            <div class="panel-body">
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate, Non IT / IT professionals </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Total Duration - </b>
                                    <span>3 Months (With real time project)</span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item">
                                            <b>Big Data-</b>
                                            <ul>
                                                <li> Distributed computing</li>
                                                <li>
                                                    Data management – Industry Challenges
                                                </li>
                                                <li>

                                                    Overview of Big Data
                                                </li>
                                                <li>

                                                    Characteristics of Big Data
                                                </li>
                                                <li>

                                                    Types of data
                                                </li>
                                                <li>

                                                    Sources of Big Data
                                                </li>
                                                <li>

                                                    Big Data examples
                                                </li>
                                                <li>

                                                    What is streaming data?
                                                </li>
                                                <li>

                                                    Batch vs Streaming data processing
                                                </li>
                                                <li>

                                                    Overview of Analytics
                                                </li>
                                                <li>

                                                    Big data Hadoop opportunities
                                                </li>
                                            </ul>

                                        </li>

                                        <li class="list-group-item">
                                            <b>Hadoop-</b>
                                            <ul>
                                                <li>HADOOP DEV</li>
                                                <li>SPARK & SCALA</li>
                                                <li>NoSQL</li>
                                                <li>Splunk</li>
                                                <li> HDFS (Storage) </li>
                                                <li> YARN (Hadoop Processing Framework) </li>
                                                <li> MapReduce using Java (Processing Data) </li>
                                                <li>  Apache Hive </li>
                                                <li>Apache Pig </li>
                                                <li> HBASE (Real NoSQL ) </li>
                                                <li> Sqoop </li>
                                                <li> Flume </li>
                                                <li> Oozie</li>
                                                <li> Kafka With ZooKeeper </li>
                                                <li> Cassandra </li>
                                                <li> MongoDB </li>
                                                <li> Apache Splunk </li>
                                            </ul>
                                        </li>

                                        <li class="list-group-item"><b>Projects - </b>1 Real Time Project</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        @Html.Partial("~/Views/Shared/TrainingMenus.cshtml")



    </div>
</div>




