
@{
    ViewBag.Title = "DBA - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    <div style="height:200px;width:100%;background-color:darkblue;padding-left:0px">
        <div style="background-color:#0dc1d4e0; height: 200px; width: 100%; ">
            <div class="col-md-9">

                <div id="slideshow">
                    <div style="margin-top:20px">
                        <h4>Get Ready. Your Dream  DBA Job is coming to you. </h4>
                        <br />


                            <h4>Get 100% Job Placement</h4>
                        
                        <br />
                        <h4>Start your DBA Career With CIIT Training Institute </h4>
                    </div>
                    <div style="margin-top:20px">
                        <h2>Why CIIT?</h2>
                        <br />
                        <ul style="font-size: 14px; text-align: initial">
                            <li>Highly Experienced Trainers</li>
                            <li>Chance to work with our development team</li>
                            <li>Experience letter after project completion</li>
                            <li>Real time project Training</li>
                            <li>100% Job assurance</li>
                        </ul>
                    </div>
                    <div style="margin-top:50px">
                        <h4>
                            Every year 600+ Students get placed in IT industry
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:10px">
                <div class="visible-desktop">

                    <img src="~/images/banners/dbalogos-1.png" style="height:180px;width:100%" alt="DBA Training at CIIT Training Institute" />
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-9">

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#CourseOverview" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Overview
                        </a>
                    </li>
                    <li>
                        <a href="#JonGuaranteedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Oracle DBA
                        </a>

                    </li>
                    <li>
                        <a href="#JobOrientedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Database Development
                        </a>

                    </li>

                </ul>
                <div class="tab-content ">
                    <div class="tab-pane fade in active" id="CourseOverview">

                        <br />
                        <h4 style="color:red">Overview of the DBA World</h4>
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            The most common form a job such as a specialist in database and this profile is called as Database Administrator. You are known for remembering the information storage and if you are very structured about the work you do and know how to consistently manage the data, the quality of a Database Administrator is present in you. A data base manager discovers methods to , arrange and handle the several information that are available in this e-world. They deliver the details according to the needs of the customers and also determine out methods to keep the data successfully effectively properly secured. They are outstanding in developing and maintaining the database. A beginner as a data base manager can generate from Rs30,000 to Rs40,000. It is important for the manager as a fresher to obtain knowledge about the relevant area and the most advanced technology in order to have an advantage over the others. This gives more profession choices to data base administrators. It is they who will find methods to be protected and secured digital data. It will help if they are officially experienced. The IT area also looks for data base manager to keep their data in a structured way.   <br />
                        </p>
                        <br />
                        <h4 style="color:red"> How CIIT different From Other Institutes </h4>
                        <br />
                        <ul style="font-size:14px;margin-left:20px">
                            <li>100 % On job training<p></p></li>
                            <li>Real time project<p></p></li>
                            <li>Chance to work with our development team<p></p></li>
                            <li>100% Job Assurance<p></p></li>
                            <li>2 years technical support<p></p></li>
                            <li> Experience letter after successful complition of project<p></p></li>
                            <li> Unlimited job calls<p></p></li>
                            <li> Best platform to switch into IT Industry<p></p></li>

                        </ul>
                        <br />

                    </div>
                    <div class="tab-pane fade in" id="JonGuaranteedTraining">
                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold">Oracle  DBA </h4>
                            </div>
                            <div class="panel-body">
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals , Under Graduates </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Total Duration - </b>
                                    <span>4 Months (3 Months Training and 1 Month Project Internship )</span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>

                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">

                                        <li class="list-group-item"><b>Database - </b>RDBMS , Oracle SQL ,PLSQL  </li>
                                        <li class="list-group-item"><b>Unix - </b> Unix, Shell Scripting</li>

                                        <li class="list-group-item"><b>DBA - </b>Oracle Workshop I & II</li>
                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="JobOrientedTraining">
                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold">Database Developement </h4>
                            </div>
                            <div class="panel-body">
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals , Under Graduates </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Total Duration - </b>
                                    <span>3 Months (2 Months Training and 1 Month Project Internship )</span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>

                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">

                                        <li class="list-group-item"><b>Database - </b>RDBMS , Oracle SQL ,PLSQL  </li>
                                        <li class="list-group-item"><b>Unix - </b> Unix, Shell Scripting</li>
                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        @Html.Partial("~/Views/Shared/TrainingMenus.cshtml")


    </div>
</div>




