@{
    ViewBag.Title = "Dot Net - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    <div style="height:200px;width:100%;background-color:darkblue;padding-left:0px">
        <div style="background-color:#0dc1d4e0; height: 200px; width: 100%; ">
            <div class="col-md-9">

                <div id="slideshow">
                    <div style="margin-top:10px">

                        <h4>Our Speciality</h4>
                        <br />
                        <ul style="font-size:14px">
                            <li><h5>Get Training on .NET Full Stack Development from Industry Experts </h5><br /> </li>
                            <li>
                                <h5>Upskill Your Career in .Net Core With Us</h5>
                                <br />
                            </li>
                            <li>
                                <h5>We Provide Job gauranteed Training</h5>
                                <br />
                            </li>
                        </ul>
                    </div>
                    <div style="margin-top:20px">
                        <h4>Why CIIT?</h4>
                        <br />
                        <ul style="font-size:14px;">
                            <li>Highly Experienced Trainers</li>
                            <li>Chance to work with our development team</li>
                            <li>Experience letter after project completion</li>
                            <li>Real time project Training</li>
                            <li>100% Job assurance</li>
                        </ul>
                    </div>
                    <div style="margin-top:20px">
                        <h4>
                            Every year 600+ Students get placed in IT industry
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:0px;text-align:right">
                <div class="visible-desktop">

                    <img src="~/images/banners/dot-net.png" style="height:170px" alt="Dot Net Training at CIIT Training Institute" />
                    <h4 style="color:white">Become .Net Expert with Us</h4>
                </div>

            </div>
        </div>

    </div>

    <div class="col-md-9">

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#CourseOverview" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Overview
                        </a>
                    </li>
                    <li>
                        <a href="#JonGuaranteedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Job Guaranteed
                        </a>

                    </li>
                    <li>
                        <a href="#JobOrientedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Job Oriented
                        </a>

                    </li>
                    <li>
                        <a href="#WorkingProfessionalTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400">
                            IT Professionals

                        </a>

                    </li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane fade in active" id="CourseOverview">

                        <br />
                        <h4 style="color:red">The World Of ASP.NET</h4>
                        <br />

                        <p style="font-size:14px;font-family: 'bookman old style';text-align:justify">
                            Microsoft provides a unique tool set essential in web development, namely ASP.NET. Applications like Visual studio, .NET and Visual Web Developer permit Web Designers to build dynamic sites utilizing a Visual Interface.ASP.NET which also supports Visual Basic.NET, JScript .NET and open-source languages like Python and Perl.
                            <br />

                        </p>
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            Applications for both Windows working framework & Web can be created by utilizing .NET improvement apparatus. ASP.NET is basically a .NET structure, strives in giving Application Program Interface (API) for programmers and engineers. Programs like Visual Studio .NET give a visual interface to engineers to make their applications, which makes .NET a sensible decision for plan.
                            <br />
                            <br />

                        </p>

                        <h4 style=" color:red">Advantages Of .NET</h4>
                        <br />

                        <ul style="font-size: 14px;margin-left:20px">
                            <li>Real cross OS support.<p></p> </li>
                            <li> Fairly easy system, speedier, and capable to deal with more demands by same hardware. <p></p></li>
                            <li> Advanced code base, which defaults to change and get the conduct of a variant that fixes a bug in a past adaptation, all the more testing-accommodating APIs. <p></p></li>
                            <li> Much enhanced assemblage time, this closures a genuine moderate efficiency executioner in huge undertakings.<p></p></li>
                            <li> New and clean substitution of MSBUILD (for ASP .NET just), permitting engineers to effectively compose errands comparable go snort, and so forth rather than mind boggling and restricting MSBUILD assignments.<p></p></li>
                            <li> More secure in comparison to other developing languages. <p></p></li>
                            <li> Running prominently and consistently from date of innovation.<p></p></li>
                            <li> Have comparatively more permissions than other developing languages.<p></p></li>
                            <li> Easy interface and feasibility in accessible.<p></p></li>
                            <li> Versatile in nature, easy to access.<p></p></li>

                        </ul>
                        <br />

                        <h4 style="color:red"> How CIIT different From Other Institutes </h4>

                        <br />
                        <ul style="font-size: 14px; text-align: initial; margin-left: 20px">
                            <li>100 % On job training<p></p></li>
                            <li>Real time project<p></p></li>
                            <li>Chance to work with our development team<p></p></li>
                            <li>100% Job Assurance<p></p></li>
                            <li>2 years technical support<p></p></li>
                            <li> Experience letter after successful complition of project<p></p></li>
                            <li> Unlimited job calls<p></p></li>
                            <li> Best platform to switch into IT Industry<p></p></li>

                        </ul>
                        <br />



                    </div>
                    <div class="tab-pane fade in" id="JonGuaranteedTraining">


                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> .NET Full Stack Development </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals </span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>9 Months (3 months Training and 6 Months Project Internship with stipend)</span>
                                </p>

                                <p>
                                    <b>Placement - </b>
                                    <span>100% Job Guarantee </span>
                                </p>
                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Front End - </b>HTML , CSS , Boostrap , Javascript , Jquery , XML , Angular 2-8 , NodeJs , ReactJS  </li>
                                        <li class="list-group-item"><b>Database - </b>Microsoft SQL Server</li>
                                        <li class="list-group-item"><b>.NET Technology - </b>C# , Ado.NET , WPF , Asp.NET , LINQ , EF , Asp.NET , Asp.NET MVC , WCF , Web API</li>
                                        <li class="list-group-item"><b>Marketing - </b>Digital Marketing</li>
                                        <li class="list-group-item"><b>Software Testing - </b>Manual , Automation(MS Testing ,Web API Testing)</li>
                                        <li class="list-group-item"><b>Methodoligies - </b>Agile , SCRUM </li>
                                        <li class="list-group-item"><b>Projects - </b>2 Real Time Projects</li>
                                    </ul>
                                </p>


                            </div>
                        </div>





                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> .NET Trainee Engineer </h4>
                            </div>

                            <div class="panel-body panelstyle">
                                <div>
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals </span>
                                </div>
                                <div>
                                    <b>Total Duration - </b>
                                    <span>4 Months (2 months Training and 2 Months Project Internship )</span>
                                </div>
                                <div>
                                    <b>Placement - </b>
                                    <span>100% Job Guarantee </span>
                                </div>

                                <div>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Front End - </b>HTML , CSS , Boostrap , Javascript , Jquery ,  Angular 2-8  </li>
                                        <li class="list-group-item"><b>Database - </b>Microsoft SQL Server</li>
                                        <li class="list-group-item"><b>.NET Technology - </b>C# , Ado.NET , WPF ,MVVM , LINQ , EF , Asp.NET , Asp.NET MVC , Web API</li>

                                        <li class="list-group-item"><b>Software Testing - </b>Manual , Automation(MS Testing,API Testing)</li>
                                        <li class="list-group-item"><b>Methodoligies - </b>Agile , SCRUM </li>
                                        <li class="list-group-item"><b>Projects - </b>1 Real Time Project</li>
                                    </ul>
                                </div>


                            </div>
                        </div>


                    </div>
                    <div class="tab-pane fade in" id="JobOrientedTraining">


                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> Diploma in .NET Technology </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <div>
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals , Under Graduates </span>
                                </div>
                                <div>
                                    <b>Total Duration - </b>
                                    <span>3 Months (2 Months Training and 1 Month Project Internship )</span>
                                </div>
                                <div>
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </div>

                                <div>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Front End - </b>HTML , CSS , Boostrap , Javascript , Jquery   </li>
                                        <li class="list-group-item"><b>Database - </b>Microsoft SQL Server</li>
                                        <li class="list-group-item"><b>.NET Technology - </b>C# , Ado.NET  , LINQ , EF , Asp.NET , Asp.NET MVC , Web API</li>

                                        <li class="list-group-item"><b>Methodoligies - </b>Agile , SCRUM </li>
                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </div>


                            </div>
                        </div>


                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> .NET Certification </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals , Under Graduates </span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>2 Months </span>
                                </p>
                                <p>
                                    <b>Placement - </b>
                                    <span>Job Assurance </span>
                                </p>

                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">

                                        <li class="list-group-item"><b>Database - </b>Microsoft SQL Server</li>
                                        <li class="list-group-item"><b>.NET Technology - </b>C# , Ado.NET  , LINQ , EF , Asp.NET , Asp.NET MVC , Web API</li>

                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>



                    </div>
                    <div class="tab-pane fade in" id="WorkingProfessionalTraining">


                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> .NET Training For Working Professionals </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span> IT professionals </span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>2 Months </span>
                                </p>
                                <p>
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>
                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>.NET Core - </b>Asp.Net Core MVC , Asp.Net Core latst version Web API,LINQ , Entity Framework </li>
                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @Html.Partial("~/Views/Shared/TrainingMenus.cshtml")
    </div>
</div>


