
@{
    ViewBag.Title = "Graphics Designing - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    <div style="height:200px;width:100%;background-color:darkblue;padding-left:0px">
        <div style="background-color:#0dc1d4e0; height: 200px; width: 100%; ">
            <div class="col-md-10">

                <div id="slideshow">
                    <div style="margin-top:20px">
                        <h3>Be ready for your Graphics Designer Job from CIIT </h3>
                        <br />
                        <ul style="font-size:14px">
                            <li>Real time Designs</li>
                            <li> Hands on Training</li>
                            <li>Latest Technologies</li>
                            <li>Work with Designer Team</li>

                        </ul>
                    </div>
                  
                    <div style="margin-top:20px">
                        <h2>Why CIIT?</h2>
                        <br />
                        <ul style="font-size: 14px; text-align: initial">
                            <li>Highly Experienced Trainers</li>
                            <li>Chance to work with our development team</li>
                            <li>Experience letter after project completion</li>
                            <li>Real time project Training</li>
                            <li>100% Job assurance</li>
                        </ul>
                    </div>
                    <div style="margin-top:50px">
                        <h4>
                            Every year 600+ Students get placed in IT industry
                        </h4>
                    </div>

                </div>
            </div>
            <div class="col-md-2" style="margin-top:10px">
                <div class="visible-desktop">

                    <img src="~/images/banners/graphicslogo.png" style="height:150px;width:100%" alt="Graphics Training at CIIT Training Institute" />
                </div>
            </div>
        </div>

    </div>



    <div class="col-md-9">

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#CourseOverview" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Overview
                        </a>
                    </li>


                    <li>
                        <a href="#JobOrientedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Course Details
                        </a>

                    </li>



                </ul>
                <div class="tab-content ">
                    <div class="tab-pane fade in active" id="CourseOverview">

                        <br />
                        <h4 style="color:red"> Overview of the Graphics Designing World </h4>
                        <br />
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            Graphic design, also known as communication design, is the art and practice of planning and projecting ideas and experiences with visual and textual content. The form of the communication can be physical or virtual, and may include images , words, or graphic forms. The experience can take place in an instant or over a long period of time. The work can happen at any scale, from the design of a single postage stamp to a national postal signage system, or from a company’s digital avatar to the sprawling and interlinked digital and physical content of an international newspaper. It can also be for any purpose, whether commercial, educational, cultural, or political.
                        </p>
                        <br />
                        <h4 style="color:red"> How CIIT different From Other Institutes </h4>
                        <br />
                        <ul style="font-size:14px;margin-left:20px">
                            <li>100 % On job training<p></p></li>
                            <li>Real time project<p></p></li>
                            <li>Chance to work with our development team<p></p></li>
                            <li>100% Job Assurance<p></p></li>
                            <li>2 years technical support<p></p></li>
                            <li> Experience letter after successful complition of project<p></p></li>
                            <li> Unlimited job calls<p></p></li>
                            <li> Best platform to switch into IT Industry<p></p></li>

                        </ul>
                        <br />





                    </div>


                    <div class="tab-pane fade in" id="JobOrientedTraining">





                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> Professional Graphics Designer </h4>
                            </div>

                            <div class="panel-body panelstyle">
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate , Non IT / IT professionals </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Total Duration - </b>
                                    <span>2.5 Months </span>
                                </p>

                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>

                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Bascis- </b>Technical and Creative Writing , Multimedia and its Application ,   </li>
                                        <li class="list-group-item"><b>Tools - </b>Adobe Photoshop , Adobe Illustrator , Corel Draw , Adobe Indesign , Vector Graphics</li>
                                        <li class="list-group-item"><b>Projects - </b>Design portfolio (Project)</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        @Html.Partial("~/Views/Shared/TrainingMenus.cshtml")
    </div>
</div>



