@{
    ViewBag.Title = "Java - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    <div style="height:200px;width:100%;background-color:darkblue;padding-left:0px">
        <div style="background-color:#0dc1d4e0; height: 200px; width: 100%;">
            <div class="col-md-9">
                <div id="slideshow">
                    <div style="margin-top:10px;text-align:center">
                        <h4>Your Dream IT job could be just weeks away  </h4>
                        <br />
                        Join our Industry Integrated Full stack development Training <br /> & <br />
                        get placed in reputed IT Company
                    </div>
                    <div style="margin-top:20px">
                        <h4>Join Full Stack Development Course with</h4>
                        <br /><br />
                        <ul style="font-size:14px">
                            <li>Live Projects<br /></li>
                            <li>Industry Experts</li>
                            <li>Experience letter after project completion<br /></li>
                            <li>Job Assurance</li>
                        </ul>
                    </div>
                    <div style="margin-top:20px">
                        <h4>Why CIIT?</h4>
                        <br />
                        <ul style="font-size: 14px; text-align: initial">
                            <li>Highly Experienced Trainers</li>
                            <li>Chance to work with our development team</li>
                            <li>Experience letter after project completion</li>
                            <li>Real time project Training</li>
                            <li>100% Job assurance</li>
                        </ul>
                    </div>
                </div>
            </div>
      
        <div class="col-md-3" style="margin-top:0px;text-align:right">
            <div class="visible-desktop">
                <img src="~/images/banners/javalogo.png" style="height:170px;" alt="Java Training at CIIT Training Institute" />
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-9">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#CourseOverview" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Overview
                        </a>
                    </li>
                    <li>
                        <a href="#JonGuaranteedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Job Guaranteed
                        </a>
                    </li>
                    <li>
                        <a href="#JobOrientedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Job Oriented
                        </a>

                    </li>
                    <li>
                        <a href="#WorkingProfessionalTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400">
                            IT Professionals

                        </a>

                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="CourseOverview">
                        <br />
                        <div>
                            <h4 style="color:red">Overview Of Java World</h4>
                            <br />
                            <div style="font-size:14px;text-align:justify">
                                Java language got computed by Sun Microsystems in 1995. It is fast, reliable and secure. It is a development terminology particularly made for use in the shared atmosphere of the Internet. It was meant to have the "look and feel" of the C++ terminology, but it is much easier to use than C++ and makes sure an object-oriented development design. There are lots of programs and websites that will not work until you have Java set up, and many of such programs are created every day. It is fast, protected, and efficient. From laptop computers to datacenters, gaming control to scientific supercomputers, mobile cell phones to the Internet, Java is everywhere! Java developers create powerful programs and websites. One of the basic responsibilities is writing class data files. Java developers perform at every stage of the technological innovation process, through: taking requirements, developing prototypes, and establishing products.
                                <div></div>
                            </div>
                            <br />
                            <h4 style="color:red">Course Overview</h4>
                            <br />
                            <div style="font-size: 14px; text-align: justify">
                                Now a days Developers no longer play a single role in development, they have become multitasking, by playing different roles like designers, developers, coders, databases specialists, and so on. The days of a developer simply working on one aspect of developing an app or website is gone.

                                Now a days many companies start hiring JAVA Full Stack Developers – or developers who can work on the frontend, backend and everything in between. This result in apps and websites having a more clean and finished look. But for fresher or experienced people to learn multiple technologies by own proved more difficult. Internet can provide tutorial for all these but it cannot teach real time work on products using JAVA development.

                                This is why we have designed this Best Training Program to help you become a Java Developer. We can give guarantee that after completion of this program you will be the first choice for IT companies.
                                <div></div>
                            </div>


                            <br />
                            <h4 style="color:red"> How CIIT different From Other Institutes </h4>
                            <br />
                            <ul style="font-size: 14px; text-align:initial;margin-left:20px">
                                <li>100% Job Guarantee<p></p></li>
                                <li>100 % On job training<p></p></li>
                                <li>Real time project<p></p></li>
                                <li>Chance to work with our development team<p></p></li>
                                <li>2 years technical support<p></p></li>
                                <li> Experience letter after successful complition of project<p></p></li>
                                <li> Unlimited job calls<p></p></li>
                                <li> Best platform to switch into IT Industry<p></p></li>
                                <li>Interaction with Industry Experts</li>
                            </ul>

                            <br />



                        </div>
                    </div>

                    <div class="tab-pane fade in" id="JonGuaranteedTraining">

                        <div id="FSDNT" class="tab-pane fade in active">
                            <br />



                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 style="color:white; font-weight:bold"> Java Full Stack Development </h4>
                                </div>
                                <div class="panel-body panelstyle">
                                    <p>
                                        <b>Who can do this course - </b>
                                        <span>Any Graduate ,Non IT / IT professionals </span>
                                    </p>
                                    <p>
                                        <b>Total Duration - </b>
                                        <span>9 Months (3 months Training and 6 Months Project Internship with stipend)</span>
                                    </p>

                                    <p>
                                        <b>Placement - </b>
                                        <span>100% Job Guarantee </span>
                                    </p>

                                    <p>
                                        <b>Training Topics - </b>
                                        <ul style="font-size:14px;" class="list-group">
                                            <li class="list-group-item"><b>Front End - </b>HTML , CSS , Boostrap , Javascript , Jquery , XML , Angular 2-8 , NodeJs , ReactJS  </li>
                                            <li class="list-group-item"><b>Database - </b>Oracle(SQL / PLSQL)</li>
                                            <li class="list-group-item"><b>Java Technology - </b>Core Java , JDBC , JSP , Servlet , Spring , Struts , Hibernate , JSF</li>
                                            <li class="list-group-item"><b>Marketing - </b>Digital Marketing</li>
                                            <li class="list-group-item"><b>Software Testing - </b>Manual , Automation(Selenium Webdriver,Web API Testing)</li>
                                            <li class="list-group-item"><b>Methodoligies - </b>Agile , SCRUM </li>
                                            <li class="list-group-item"><b>Projects - </b>2 Real Time Projects</li>
                                        </ul>
                                    </p>


                                </div>
                            </div>


                        </div>



                        <br />

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> Java Trainee Engineer </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals </span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>4 Months (2 months Training and 2 Months Project Internship )</span>
                                </p>
                                <p>
                                    <b>Placement - </b>
                                    <span>100% Job Guarantee </span>
                                </p>

                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Front End - </b>HTML , CSS , Boostrap , Javascript , Jquery ,  Angular 2-8  </li>
                                        <li class="list-group-item"><b>Database - </b>Oracle(SQL / PLSQL)</li>
                                        <li class="list-group-item"><b>Java Technology - </b>Core Java , JDBC , JSP , Servlet , Spring , Struts , Hibernate</li>
                                        <li class="list-group-item"><b>Software Testing - </b>Manual , Automation(Sellenium Web Driver,API Testing)</li>
                                        <li class="list-group-item"><b>Methodoligies - </b>Agile SCRUM </li>
                                        <li class="list-group-item"><b>Projects - </b>1 Real Time Project</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="JobOrientedTraining">
                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> Diploma in JAVA Technology </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals , Under Graduates </span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>3 Months (2 Months Training and 1 Month Project Internship )</span>
                                </p>
                                <p>
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>

                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Front End - </b>HTML , CSS , Boostrap , Javascript , Jquery   </li>
                                        <li class="list-group-item"><b>Database - </b>Oracle(SQL / PLSQL)</li>
                                        <li class="list-group-item"><b>Java Technology - </b>Core Java , JDBC , JSP , Servlet , Spring , Hibernate</li>
                                        <li class="list-group-item"><b>Methodoligies - </b>Agile , SCRUM </li>
                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>




                        <br />

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> JAVA Certification </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals , Under Graduates </span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>2 Months </span>
                                </p>
                                <p>
                                    <b>Placement - </b>
                                    <span>Job Assurance </span>
                                </p>

                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">

                                        <li class="list-group-item"><b>Database - </b>Oracle(SQL / PLSQL)</li>
                                        <li class="list-group-item"><b>Java Technology - </b>Core Java , JDBC , JSP , Servlet , Spring , Hibernate</li>

                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>




                    </div>

                    <div class="tab-pane fade in" id="WorkingProfessionalTraining">


                        <br />

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> Java Training For Working Professionals </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span> IT professionals </span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>2 Months </span>
                                </p>
                                <p>
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>

                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">

                                        <li class="list-group-item"><b>Database - </b>Oracle(SQL / PLSQL)</li>
                                        <li class="list-group-item"><b>Java Technology - </b> Spring , Hibernate,JSF</li>

                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        @Html.Partial("~/Views/Shared/TrainingMenus.cshtml")



    </div>
</div>

