
@{
    ViewBag.Title = "Mean Stack - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    <div style="height:200px;width:100%;background-color:darkblue;padding-left:0px">
        <div style="background-color:#0dc1d4e0; height: 200px; width: 100%; ">
            <div class="col-md-9">

                <div id="slideshow">

                        <div style="text-align: center;margin-top:50px">
                            <h4>
                                Start MEAN Stack Development Training
                                <br />
                                &
                                <br />
                                make your identity as a Full Stack Developer in IT Industry

                            </h4>
                        </div>




                    <div style="margin-top:50px">
                        <div style="text-align: center;">
                            <h4>

                                Grab the best Knowledge in latest Technology
                                <br />
                                &
                                <br />
                                stay ahead in tech industry


                            </h4>
                        </div>


                    </div>
                    <div style="margin-top:20px">
                        <h4>Why CIIT?</h4>
                        <br />
                        <ul style="font-size: 14px; text-align: initial">
                            <li>Highly Experienced Trainers</li>
                            <li>Chance to work with our development team</li>
                            <li>Experience letter after project completion</li>
                            <li>Real time project Training</li>
                            <li>100% Job assurance</li>
                        </ul>
                    </div>
                    <div style="margin-top:50px">
                        <h4>
                            Every year 600+ Students get placed in IT industry
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:10px">
                <div class="visible-desktop">

                    <img src="~/images/banners/meanlogo.png" style="height:150px;width:100%" alt="MEAN STACK Training at CIIT Training Institute" />
                    <div style="text-align: center;">
                        <h4 style="color:white">MEAN Stack Development</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-9">

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#CourseOverview" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Overview
                        </a>
                    </li>
                    <li>
                        <a href="#JobOrientedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Job Oriented
                        </a>

                    </li>
                    
                    <li>
                        <a href="#WorkingProfessionalTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400">
                            IT Professionals

                        </a>

                    </li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane fade in active" id="CourseOverview">

                        <br />
                        <h4 style="color:red">The World Of MEAN Stack</h4>
                        <br />
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            Over the years MEAN stack has grown as a popular choice among full stack developers. More and more developers joined the parade mainly because MEAN is an all JavaScript stack. Apart from the easier learning and transition curves, MEAN stack also offers many advantages over other developmental stacks making it one of the most preferred and used one in recent times.
                        </p>
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            MEAN stack is a compilation of JavaScript-based technologies used to develop dynamic web applications and hybrid mobile apps. MEAN denotes MongoDB, ExpressJS, AngularJS, and NodeJS, the technologies used in the stack. It has gained popularity because it allows developers to use the same language for frontend development as well as backend.

                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            The MEAN Stack enables you to use JavaScript on both, front- and back-end. There are four main building blocks of every full-stack MEAN application:
                            <ul style="font-size: 14px; margin-left: 20px">
                                <li> <p><b>MongoDB:</b> a schema-less (document-oriented) NoSQL database</p></li>
                                <li><p><b>Express.js:</b> a server-side JavaScript framework running on top of Node.js</p></li>
                                <li><p><b>Angular: </b>a browser-independent MVC JavaScript UI framework</p></li>
                                <li><p><b>Nodejs:</b> a server-side JavaScript run-time based upon Google’s V8 JavaScript engine</p></li>

                            </ul>

                        </p>
                            <br />
                            <br />

                            <h4 style="color:red">What makes MEAN stack popular among startups?</h4>
                            <br />
                            <ul style="font-size: 14px; margin-left: 20px">
                                <li>
                                    <h5 style="font-weight:bold">Open Source</h5>
                                    <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                        All the MEAN stack components are open-source and regularly updated, and it allows the developers to customize the code based on their needs. Data transfer between frontend and backend happens through a JavaScript object which makes life easier for developers.
                                        <br />


                                    </p>
                                </li>
                                <li>
                                    <h5 style="font-weight:bold">NodeJS is Superfast </h5>
                                    <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                        mainly because it is built on Google’s V8 JIT-compiled JavaScript engine which compiles and executes JavaScript code into native machine code very quickly. Node.Js also uses asynchronous programming, making processes such as I/O to network connections, file system, and database execute very fast. This nature of Node.js is termed as non-blocking IO. It follows a modular architecture which makes it easier to extend additional capabilities in future.
                                        <br />
                                        

                                    </p>
                                </li>

                                <li>
                                    <h5 style="font-weight:bold">MongoDB is a NoSQL database</h5>
                                    <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                        inherently flexible when compared to other SQL databases. MongoDB makes it easy to make changes in the data model on the go and gives a lot of options to make the queries faster for specific result sets. For databases which need to handle huge volumes of data, MongoDB becomes an obvious choice if the system is going to be designed and built from scratch. As MongoDB stores different structured data in same document collection there is no need to worry about old data if there is any change in the data model during the development process.
                                        <br />
                                        

                                    </p>
                                </li>
                                <li>
                                    <h5 style="font-weight:bold">Supports MVC Architecture</h5>
                                    <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                        AngularJS uses MVC to organize applications and thereby supports rapid and parallel development. MVC model allows multiple programmers to work on the code simultaneously. One programmer can work on the controller to create business logic and one on the view. Hence the development time can be reduced to three times.
                                        <br />
                                        

                                    </p>
                                </li>
                                <li>
                                    <h5 style="font-weight:bold">Good community support</h5>
                                    <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                        AngularJS, NodeJS, ExpressJS, and MongoDB have a good user community and good adoption rate among the leading tech brands in the world including Google and Amazon.
                                        <br />
                                        


                                    </p>
                                </li>
                                <li>
                                    <h5 style="font-weight:bold">Uses JSON</h5>
                                    <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                        JSON is a JavaScript open standard file format which use human-readable text to transmit data objects. MEAN uses binary-JSON (BSON) for data everywhere, making it easier for reformatting data as it passes through different layers. MongoDB can store documents in a JSON format, ExpressJS can write queries in JSON and pass to NodeJS backend which understands JavaScript and seamlessly pass data to the AngularJS frontend.
                                        <br />

                                    </p>
                                </li>

                            </ul>


</div>
                    @*<div class="tab-pane fade in" id="JonGuaranteedTraining">



                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> MEAN Stack Development </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals </span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>3 Months </span>
                                </p>
                                <p>
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>
                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Front End - </b>HTML , CSS , Boostrap , Javascript , Jquery , AngularJs, Angular-6,7,8  </li>
                                        <li class="list-group-item"><b>Database - </b>MySql , MongoDB</li>
                                        <li class="list-group-item"><b>Sever side Scripting - </b>NodeJs</li>
                                        <li class="list-group-item"><b>Methodoligies - </b>Agile , SCRUM </li>
                                        <li class="list-group-item"><b>Projects - </b>2 Real Time Projects</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>*@
                <div class="tab-pane fade in" id="JobOrientedTraining">


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 style="color:white; font-weight:bold"> MEAN Stack Development </h4>
                        </div>
                        <div class="panel-body panelstyle">
                            <p>
                                <b>Who can do this course - </b>
                                <span>Any Graduate ,Non IT / IT professionals </span>
                            </p>
                            <p>
                                <b>Total Duration - </b>
                                <span>3 Months </span>
                            </p>
                            <p>
                                <b>Placement - </b>
                                <span>100% Job Assurance </span>
                            </p>
                            <p>
                                <b>Training Topics - </b>
                                <ul style="font-size:14px;" class="list-group">
                                    <li class="list-group-item"><b>Front End - </b>HTML , CSS , Boostrap , Javascript , Jquery , Angular all versions  </li>
                                    <li class="list-group-item"><b>Database - </b>MySql , MongoDB</li>
                                    <li class="list-group-item"><b>Sever side Scripting - </b>NodeJs</li>
                                    <li class="list-group-item"><b>Methodoligies - </b>Agile , SCRUM </li>
                                    <li class="list-group-item"><b>Projects - </b>1 Real Time Project</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 style="color:white; font-weight:bold"> MERN Stack Development </h4>
                        </div>
                        <div class="panel-body panelstyle">
                            <p>
                                <b>Who can do this course - </b>
                                <span>Any Graduate ,Non IT / IT professionals </span>
                            </p>
                            <p>
                                <b>Total Duration - </b>
                                <span>3 Months </span>
                            </p>
                            <p>
                                <b>Placement - </b>
                                <span>100% Job Assurance </span>
                            </p>
                            <p>
                                <b>Training Topics - </b>
                                <ul style="font-size:14px;" class="list-group">
                                    <li class="list-group-item"><b>Front End - </b>HTML , CSS , Boostrap , Javascript , Jquery , ReactJs, Redux  </li>
                                    <li class="list-group-item"><b>Database - </b>MySql , MongoDB</li>
                                    <li class="list-group-item"><b>Sever side Scripting - </b>NodeJs</li>
                                    <li class="list-group-item"><b>Methodoligies - </b>Agile , SCRUM </li>
                                    <li class="list-group-item"><b>Projects - </b>1 Real Time Project</li>
                                </ul>
                            </p>
                        </div>
                    </div>


                </div>
                    <div class="tab-pane fade in" id="WorkingProfessionalTraining">


                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> Angular Ionic </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span>Those who  want to learn hybrid mobile  development, who want to build robust and scalable mobile applications,  who aspire to build a career in Ionic </span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>1.5 Month </span>
                                </p>
                                
                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Front End - </b>HTML , CSS , Boostrap , Javascript , Jquery , AngularJs, Angular-6,7,8  </li>
                                        <li class="list-group-item"><b>Database - </b>MySql , MongoDB</li>
                                        <li class="list-group-item"><b>Sever side Scripting - </b>NodeJs</li>
                                        <li class="list-group-item"><b>Methodoligies - </b>Agile , SCRUM </li>
                                        <li class="list-group-item"><b>Projects - </b>2 Real Time Projects</li>
                                    </ul>
                                </p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        @Html.Partial("~/Views/Shared/TrainingMenus.cshtml")
    </div>
</div>



