
@{
    ViewBag.Title = "ReactJs - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    <div style="height:200px;width:100%;background-color:darkblue;padding-left:0px">
        <div style="background-color:#0dc1d4e0; height: 200px; width: 100%; ">
            <div class="col-md-10">

                <div id="slideshow">
                    <div style="margin-top:20px">

                        <h4>Looking for Hands On Training in ReactJs ?</h4>
                        <br /><br />
                        <h4>CIIT is the best option</h4>
                        <br />
                        <h4>Do Professional Training With Hands On for Better Brighter Tomorrow </h4>
                    </div>
                    <div style="margin-top:20px">

                        <h4>Do training on your flexible time</h4>
                        <br /><br />
                        <h4>CIIT is the best option</h4>
                        <br />

                        <h4>Do Professional Training With Hands On for Better Brighter Tomorrow </h4>

                    </div>

                    <div style="margin-top:20px">
                        <h4>Why CIIT?</h4>
                        <br />
                        <ul style="font-size: 14px; text-align: initial">
                            <li>Highly Experienced Trainers</li>
                            <li>Chance to work with our development team</li>
                            <li>Experience letter after project completion</li>
                            <li>Real time project Training</li>
                            <li>100% Job assurance</li>
                        </ul>
                    </div>
                    <div style="margin-top:50px">
                        <h4>
                            Every year 600+ Students get placed in IT industry
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-top:10px">
                <div class="visible-desktop">

                    <img src="~/images/banners/reactjs.png" style="height:150px" alt="ReactJs Training at CIIT Training Institute" />
                </div>
            </div>
        </div>

    </div>



    <div class="col-md-9">

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#CourseOverview" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Overview
                        </a>
                    </li>


                    <li>
                        <a href="#JobOrientedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            ReactJs Training
                        </a>

                    </li>



                </ul>
                <div class="tab-content ">
                    <div class="tab-pane fade in active" id="CourseOverview">


                        <br />
                        <h4 style="color:red">The World Of ReactJs</h4>
                        <br />
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            React is a declarative, efficient, and flexible JavaScript library for building Web Applications.
                            It follows component-based approach. Easy to create smaller components and build large-scale applications.
                            The main goal is to build large-scale high-performance applications with smaller and reusable stateful components.
                            We provide ReactJS Training by Real-Time Experts with Real-Time Scenarios and always support
                        </p>
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            React.js is currently amongst the best JavaScript UI framework that a lot of web developers are finding useful in many ways. It has a higher rendering performance and this makes it one of the most sought after framework. If you are in need of a framework that will help you come up with an incredible application interface, look no further than React.js. It has a data binding and state management feature that makes it an ideal platform for creating dynamic applications.
                        </p>
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            Many people use React.js as the V in MVC. It is a platform that you can easily use for a small feature on a project that is already exists. It is a library that will give you a very simple programming model and a great performance whenever you start creating your own applications.
                        </p>
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            React has become one among the most popular and efficient JavaScript front end libraries over time. Developed in the labs of Facebook, React aids in curating apps with more ease, scalability and robustness. This is the reason why most organizations prefer using React and there is a huge demand for React experts and developers
                        </p>


                        <br />
                        <h4 style="font-size:20px; color:red">Reasons for ReactJs popularity</h4>
                        <br />
                        <ul style="font-size:14px;margin-left:20px">
                            <li>
                                <h5 style="font-weight:bold"> Lightweight DOM For Better Performance</h5>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    React embraces a lightweight implementation of the events system and DOM. It doesn't use the browser, but allows one to manipulate DOM version stored in the memory. This certainly delivers fast and effective performance.Since, several developers have experienced terrifying performance issues of DOM while working with Angular, they prefer switching to React framework.
                                </p>
                            </li>
                            <li>
                                <h5 style="font-weight:bold">Easy Learning Curve</h5>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    The straightforward API of React framework makes it very easy for one to get started. You can kick start development of this framework with its simplified programming approach. There is no need to make painstaking efforts in learning complicated concepts, you can create a desired interface design by using a suitable API. Yes! It is as simple as that, and thus, it makes a viable choice. Where as, for getting started with Angular, one needs to get his hands on specific concepts and conventions. Although, it may result in magical output, incurs indefinite efforts and hefty price to learn these essentials.
                                </p>
                            </li>
                            <li>
                                <h5 style="font-weight:bold">A desired interface can be created in a relatively easy manner.</h5>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    You can proficiently design an app interface with Angular. However, React offers a more scrutinized approach to design an interface. Let's explore a few design concepts.
                                    <ul>
                                        <li style="font-size:14px"><b> Nested View :</b> You can easily use the nested elements in React. It can be accomplished by including a reference to the child class within the render method of the parent class. The method is much simpler, cleaner and easier than working in the same with Angular framework.</li>
                                        <li style="font-size:14px"><b>Loop :</b> Using loops in a program can help create rendering views in Angular framework as well as React framework. However, the techniques of using loops in both the frameworks are fairly different.</li>
                                    </ul>


                                </p>
                            </li>
                            <li>
                                <h5 style="font-weight:bold">Components Support And Little Dependencies</h5>
                                <div>
                                    The default JavaScript package manager (npm) has enticed several developers to implement the Node.js platform with its amazingly useful features. Unlike, AngularJS that doesn't support Node.js, you can easily use the Node.js platform in the front end while working with React. This is so because in React, everything is treated as components. Therefore, you can easily import component
                                </div>
                            </li>


                        </ul>
                        <br />
                        <h4 style="color:red"> How CIIT different From Other Institutes </h4>

                        <br />
                        <ul style="font-size: 14px; margin-left: 20px">
                            <li>100 % On job training<p></p></li>
                            <li>Real time project<p></p></li>
                            <li>Chance to work with our development team<p></p></li>
                            <li>100% Job Assurance<p></p></li>
                            <li>2 years technical support<p></p></li>
                            <li> Experience letter after successful complition of project<p></p></li>
                            <li> Unlimited job calls<p></p></li>
                            <li> Best platform to switch into IT Industry<p></p></li>

                        </ul>



                    </div>


                    <div class="tab-pane fade in" id="JobOrientedTraining">






                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> React Js Training With Live Project </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate, Non IT / IT professionals </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Total Duration - </b>
                                    <span>3 Months ( 2 Months Classroom Training & 1 Month Project Training )</span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Training Modules-</b> ReactJS , Flux, Redux, React Native  </li>
                                        <li class="list-group-item"><b>Projects - </b>Real Time Project</li>
                                    </ul>
                                </p>
                            </div>
                        </div>


                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
       @Html.Partial("~/Views/Shared/TrainingMenus.cshtml")


    </div>
</div>



