@{
    ViewBag.Title = "Software Testing - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 3.4%; border:1px solid groove;border-radius:0.5%;background-color:white;padding-left:0px;padding-right:0px">
    <div style="height:200px;width:100%;background-color:darkblue;padding-left:0px">
        <div style="background-color:#0dc1d4e0; height: 200px; width: 100%; ">
            <div class="col-md-9">
                <div id="slideshow">
                    <div style="margin-top:50px">

                        <h4>

                            Gain the knowledge and skills you need in order to work as a test analyst for software applications.

                            </h4>


                    </div>

                    <div style="margin-top:50px">

                        <h4>

                            Software Testing with us is your key to start a successful career

                        </h4>

                    </div>
                    <div style="margin-top:20px">
                        <h4>Why CIIT?</h4>
                        <br />
                        <ul style="font-size: 14px; text-align: initial">
                            <li>Highly Experienced Trainers</li>
                            <li>Chance to work with our development team</li>
                            <li>Experience letter after project completion</li>
                            <li>Real time project Training</li>
                            <li>100% Job assurance</li>
                        </ul>
                    </div>
                    <div style="padding-top:50px">
                        <h4>
                            Every year 600+ Students get placed in IT industry
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:0px">
                <div class="visible-desktop">

                    <img src="~/images/banners/testinglogo.png" style="height:190px" alt="Software Testing Training at CIIT Training Institute" />
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-9">

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#CourseOverview" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Overview
                        </a>
                    </li>


                    <li>
                        <a href="#JobOrientedTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400; ">
                            Job Oriented
                        </a>

                    </li>
                    <li>
                        <a href="#WorkingProfessionalTraining" data-toggle="tab" style="font-size: 16px; color: #0275d8; font-weight: 400">
                            IT Professionals

                        </a>

                    </li>

                </ul>
                <div class="tab-content ">
                    <div class="tab-pane fade in active" id="CourseOverview">


                        <br />
                        <h4 style="color:red"> Overview of the Software Testing World </h4>
                        <br />
                        <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                            Software testing involves the execution of a software or an application to ensure its quality. The testing process basically involves finding the defects and getting them fixed from the developers. Software testing is carried out by software testers. This field has various roles based on designation hierarchy like tester, test lead, manager etc. Manual testing and automation testing can be called the two pillars of testing as it can be carried out in these two ways. You may come across terms like QA and QC in testing. QA or Quality Assurance in short can be called as preventive activities, while QC or Quality Control refers to the corrective process. Testing on the other hand can be called a preventive process.<br />
                        </p>
                        <br />
                        <h4 style="color:red"> How CIIT different From Other Institutes </h4>
                        <br />
                        <ul style="font-size:14px;margin-left:20px">
                            <li>100 % On job training<p></p></li>
                            <li>Real time project<p></p></li>
                            <li>Chance to work with our development team<p></p></li>
                            <li>100% Job Assurance<p></p></li>
                            <li>2 years technical support<p></p></li>
                            <li> Experience letter after successful complition of project<p></p></li>
                            <li> Unlimited job calls<p></p></li>
                            <li> Best platform to switch into IT Industry<p></p></li>

                        </ul>
                        <br />




                    </div>


                    <div class="tab-pane fade in" id="JobOrientedTraining">

                        <br />


                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> Diploma in Software Testing </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT Professional </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Total Duration - </b>
                                    <span>4 Months (3 months Classroom Training and 1 Month Project Training)</span>
                                </p>

                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>

                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Front End - </b>HTML , CSS  Javascript , Jquery  </li>
                                        <li class="list-group-item"><b>Database - </b>Oracle (SQL/PLSQL)</li>
                                        <li class="list-group-item"><b>Java- </b>Core Java</li>
                                        <li class="list-group-item"><b>Software Testing - </b> Manual Testing, Automation Testing Tool (Selenium), API Testing, Jenkins , JMeter,ETL Testing </li>
                                        <li class="list-group-item"><b>Projects - </b>1 Real Time Projects</li>
                                    </ul>
                                </p>


                            </div>
                        </div>





                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold">Certification in Software Testing </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Who can do this course - </b>
                                    <span>Any Graduate ,Non IT / IT professionals </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Total Duration - </b>
                                    <span>2 Months </span>
                                </p>
                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Placement - </b>
                                    <span>100% Job Assurance </span>
                                </p>

                                <p style="font-size: 14px; font-family: 'bookman old style'; text-align: justify">
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Java- </b>Core Java</li>
                                        <li class="list-group-item"><b>Software Testing - </b>selenium Web Driver,Cucumber, ETL Testing, Api Testing, Jenkins, JMeter</li>
                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>






                    </div>




                    <div class="tab-pane fade in" id="WorkingProfessionalTraining">

                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> Selenium Automation Testing </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span>Manual Testers , IT Professionals</span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>2 Months </span>
                                </p>
                                <p>
                                    <b>Placement - </b>
                                    <span>Job Assurance </span>
                                </p>

                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Programming Language - </b>Core Java</li>

                                        <li class="list-group-item"><b>Selenium Testing - </b>Selenium Web Driver , Web API Testing(PostMan),Jenkins,TestNG </li>
                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>


                        <br />
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 style="color:white; font-weight:bold"> ETL Testing </h4>
                            </div>
                            <div class="panel-body panelstyle">
                                <p>
                                    <b>Who can do this course - </b>
                                    <span>Manual Testers , IT professionals</span>
                                </p>
                                <p>
                                    <b>Total Duration - </b>
                                    <span>2 Months </span>
                                </p>
                                <p>
                                    <b>Placement - </b>
                                    <span> Job Assurance </span>
                                </p>

                                <p>
                                    <b>Training Topics - </b>
                                    <ul style="font-size:14px;" class="list-group">
                                        <li class="list-group-item"><b>Software Testing - </b>  ETL testing </li>
                                        <li class="list-group-item"><b>Projects - </b>1  Project</li>
                                    </ul>
                                </p>


                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        @Html.Partial("~/Views/Shared/TrainingMenus.cshtml")
    </div>
</div>



