@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table,thead,tr,th,tbody{
        font-size:14px;
    }
</style>
<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">

    <div class="services" id="services">
        <div>
            <div class="visible-desktop">
                <img style="height:250px; width:1020px; background-color:skyblue" class="img-thumbnail" src="~/images/feedback.jpg" />

            </div>
            <div class="visible-phone">
                <img style="height:200px; width:1020px; background-color:skyblue" class="img-thumbnail" src="~/images/feedback.jpg" />

            </div>
            <center>
                <h4 style="color: #337ab7">Top Placements</h4>

            </center>

        </div>
        <div class="col-md-12">

    


                <div class="container-fluid">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover  table-responsive" >
                            <thead>
                                <tr>
                                    <th>Name of Student </th>
                                    <th>Company</th>
                                    <th>Technology</th>
                                    <th>Package</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>Rutuja Jare</td>
                                    <td>Cloud Point System Inc</td>
                                    <td>.NET </td>
                                    <td>2.4 LPA</td>
                                </tr>

                                <tr>
                                    <td>Sanket Bhujbal</td>
                                    <td>Infosys</td>
                                    <td>.NET</td>
                                    <td>4.5 LPA</td>
                                </tr>

                                <tr>
                                    <td>Sourv Ghosh</td>
                                    <td>Credence</td>
                                    <td>.NET </td>
                                    <td>4.20 LPA</td>
                                </tr>

                                <tr>
                                    <td>Snehal</td>
                                    <td>Snow White</td>
                                    <td>MEAN STACK</td>
                                    <td>4.5 LPA</td>
                                </tr>

                                <tr>
                                    <td>Yogita Ghorad</td>
                                    <td>Agilad Tecchnologies Pvt Ltd</td>
                                    <td>.NET </td>
                                    <td>3.5 LPA</td>
                                </tr>

                                <tr>
                                    <td>Akash Bhujbal</td>
                                    <td>Assentex</td>
                                    <td>.NET </td>
                                    <td>3.5 LPA</td>
                                </tr>

                                <tr>
                                    <td>Dhananjay jaiswal</td>
                                    <td>Bajaj Alianz</td>
                                    <td>DBA </td>
                                    <td>3.5 LPA</td>
                                </tr>
                                <tr>
                                    <td>Rahul Paul</td>
                                    <td>Capgemeni</td>
                                    <td>.NET </td>
                                    <td>5.5 LPA</td>
                                </tr>


                                <tr>
                                    <td>Ashwini Yele </td>
                                    <td>SK Infotech</td>
                                    <td>.NET </td>
                                    <td>1.2 LPA</td>
                                </tr>

                                <tr>
                                    <td>Megha Savner</td>
                                    <td>Getway Technolabs</td>
                                    <td>.NET </td>
                                    <td>3.6 LPA</td>
                                </tr>



                                <tr>
                                    <td>Vitthal Chikte </td>
                                    <td>Bajaj Alianz</td>
                                    <td>DBA</td>
                                    <td>4.5 LPA</td>
                                </tr>

                                <tr>
                                    <td>Aishwarya Khabile </td>
                                    <td>The Most Group</td>
                                    <td>.NET </td>
                                    <td>1.8 LPA</td>
                                </tr>
                                <tr>
                                    <td>Mahesh Londhe </td>
                                    <td>Empower Integrated Solutions</td>
                                    <td>PHP </td>
                                    <td>2.2 LPA</td>
                                </tr>
                                <tr>
                                    <td>Sandhya Bhujbal </td>
                                    <td>Puzzle Software</td>
                                    <td>Front End </td>
                                    <td>3.8 LPA</td>
                                </tr>


                                <tr>
                                    <td>Tushar Mahadik</td>
                                    <td>Scorg</td>
                                    <td>DOT NET </td>
                                    <td>2.5 LPA</td>
                                </tr>

                                <tr>
                                    <td>Aniket Bhosale</td>
                                    <td>TCS</td>
                                    <td>DOT NET </td>
                                    <td>1.93 LPA</td>
                                </tr>


                                <tr>
                                    <td>Shital Jawale</td>
                                    <td>AnAr Solutions</td>
                                    <td>DOT NET</td>
                                    <td>1.2 LPA</td>
                                </tr>

                                <tr>
                                    <td>Smita Satpute</td>
                                    <td>Aptara</td>
                                    <td>.NET </td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Sneha Mahale</td>
                                    <td>Indoglobus Solutions</td>
                                    <td>MEAN STACK  </td>
                                    <td>5.0 LPA</td>
                                </tr>

                                <tr>
                                    <td>Virendra Parade</td>
                                    <td>Integrano</td>
                                    <td>.NET</td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Pooja Laygude</td>
                                    <td>Prayo Technogies</td>
                                    <td>.NET </td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Arvind Parhate</td>
                                    <td>Panacea Infotech Pvt. Ltd.</td>
                                    <td>.NET </td>
                                    <td>2.2LPA</td>
                                </tr>
                                <tr>
                                    <td>Vijay Divekar</td>
                                    <td>Maersk</td>
                                    <td>.NET </td>
                                    <td>2.8LPA</td>
                                </tr>

                                <tr>
                                    <td>Shakil Shaikh</td>
                                    <td>TCS</td>
                                    <td> JAVA </td>
                                    <td>14.0 LPA</td>
                                </tr>


                                <tr>
                                    <td>Prasad Pol</td>
                                    <td>Eclon</td>
                                    <td>Front End  </td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Krishna Nichel</td>
                                    <td>Modal Logic</td>
                                    <td>JAVA </td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Sneha Londhe</td>
                                    <td>Praeo Technogy</td>
                                    <td>.NET</td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Tejaswini Balwantro</td>
                                    <td>Praeo Technogy</td>
                                    <td>.NET </td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Rohini Bhosale</td>
                                    <td>Infosys</td>
                                    <td>.NET </td>
                                    <td>4.3 LPA</td>
                                </tr>

                                <tr>
                                    <td>Pravin Solankar</td>
                                    <td>Vizlitics Technogies Pvt Ltd</td>
                                    <td>DBA</td>
                                    <td>2.75 LPA</td>
                                </tr>
                                <tr>
                                    <td>Rajendra Patil</td>
                                    <td>Honeywell</td>
                                    <td>.NET </td>
                                    <td>5.5 LPA</td>
                                </tr>
                                <tr>
                                    <td>Hemangi Jagtap</td>
                                    <td>ZCON Solutions Pvt Ltd</td>
                                    <td>DBA </td>
                                    <td>5.5 LPA</td>
                                </tr>
                                <tr>
                                    <td>Ajay Mane</td>
                                    <td>TCS  Pvt Ltd</td>
                                    <td>.NET </td>
                                    <td>3.5 LPA</td>
                                </tr>
                                <tr>
                                    <td>Vishwjyoti Walode</td>
                                    <td>Integrano</td>
                                    <td>.NET </td>
                                    <td>2.2 LPA</td>
                                </tr>

                                <tr>
                                    <td>Nanaso Pawar</td>
                                    <td>TCS </td>
                                    <td>.NET </td>
                                    <td>2.2 LPA</td>
                                </tr>


                                <tr>
                                    <td>Komal Kardile</td>
                                    <td>Adaptive Technologies</td>
                                    <td>.NET </td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Reshma </td>
                                    <td>TCS</td>
                                    <td>.NET </td>
                                    <td>4.2 LPA</td>
                                </tr>

                                <tr>
                                    <td>Rani Kankate</td>
                                    <td>Pragmysys</td>
                                    <td>.NET</td>
                                    <td>2.4 LPA</td>
                                </tr>

                                <tr>
                                    <td>Shraddha Mukta</td>
                                    <td>Accenture</td>
                                    <td>.NET </td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Dyaneshwar Patil</td>
                                    <td>Wipro</td>
                                    <td>.NET </td>
                                    <td>2.4 LPA</td>
                                </tr>

                                <tr>
                                    <td>Chaushila Londhe</td>
                                    <td>Cruncher Soft Pvt Ltd</td>
                                    <td>.NET </td>
                                    <td>1.4 LPA</td>
                                </tr>

                                <tr>
                                    <td>Dhanshree Chavan</td>
                                    <td>IBM</td>
                                    <td>.NET </td>
                                    <td>2.4 LPA</td>
                                </tr>


                                <tr>
                                    <td>Sanjay Sharma</td>
                                    <td>BasicX </td>
                                    <td> JAVA </td>
                                    <td>2.6 LPA</td>
                                </tr>


                                <tr>
                                    <td>Prajkata Lonkar</td>
                                    <td>Maersk</td>
                                    <td> .NET </td>
                                    <td>2.6 LPA</td>
                                </tr>

                                <tr>
                                    <td>Abhishek Bhadkwan</td>
                                    <td>The Most Group</td>
                                    <td> .NET</td>
                                    <td>2.4 LPA</td>
                                </tr>

                                <tr>
                                    <td>Varsha Nagtilak</td>
                                    <td>Web Direct Pvt Ltd</td>
                                    <td> .NET </td>
                                    <td>3.2 LPA</td>
                                </tr>

                                <tr>
                                    <td>Pallavi Patil</td>
                                    <td>Aptara</td>
                                    <td> UI</td>
                                    <td>1.44 LPA</td>
                                </tr>
                                <tr>
                                    <td>Sandhya Sanghshetty</td>
                                    <td>Accenture</td>

                                    <td> .NET </td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Ketki Atkari</td>
                                    <td>Mayuresh Solutions Pvt Ltd </td>

                                    <td>JAVA</td>
                                    <td>1.2 LPA</td>
                                </tr>

                                <tr>
                                    <td>Nishtha Vijavargiya</td>
                                    <td>TCS</td>

                                    <td>JAVA </td>
                                    <td>1.8 LPA</td>
                                </tr>


                                <tr>
                                    <td>Bhushan Bairagi</td>
                                    <td>Navndra Enterprices  </td>

                                    <td>JAVA </td>
                                    <td>1.5 LPA</td>
                                </tr>

                                <tr>
                                    <td>Ankit Gupta</td>
                                    <td> Nuance  </td>

                                    <td>JAVA </td>
                                    <td>3.5 LPA</td>
                                </tr>


                                <tr>
                                    <td>Snehal Shivthare</td>
                                    <td> Automatic Infotech Pvt Ltd  </td>

                                    <td>.NET </td>
                                    <td>2.4 LPA</td>
                                </tr>

                                <tr>
                                    <td>Nilesh Chavan</td>
                                    <td> Aloha Technology  </td>

                                    <td>.NET</td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Mayur Gadekar</td>
                                    <td> Navandra Enterprices  </td>

                                    <td>ANDROID </td>
                                    <td>1.5 LPA</td>
                                </tr>

                                <tr>
                                    <td>Aditya Mukundwar</td>
                                    <td> Ohum Lab Healthcare Pvt Ltd  </td>

                                    <td>JAVA</td>
                                    <td>5.8 LPA</td>
                                </tr>


                                <tr>
                                    <td>Mayur Mahadik</td>
                                    <td> IBS Technologies </td>
                                    <td>.NET </td>
                                    <td>3.2 LPA</td>
                                </tr>

                                <tr>
                                    <td>Shraddha Banne</td>
                                    <td> Sands Technogy</td>

                                    <td>.NET </td>
                                    <td>1.4 LPA</td>
                                </tr>


                                <tr>
                                    <td>Avantika  Malleshe</td>
                                    <td> Accenture  </td>

                                    <td>.NET </td>
                                    <td>1.8 LPA</td>
                                </tr>


                                <tr>
                                    <td>Amol Khedkar</td>
                                    <td> Maersk </td>
                                    <td>.NET </td>
                                    <td>2.4 LPA</td>
                                </tr>

                                <tr>
                                    <td>Deepak Kumar</td>
                                    <td> L&T India  </td>
                                    <td>.NET </td>
                                    <td>9.20LPA</td>
                                </tr>




                                <tr>
                                    <td>Neha Bali</td>
                                    <td>Upperthrust Technologies </td>
                                    <td>JAVA </td>
                                    <td>2.4LPA</td>
                                </tr>



                                <tr>
                                    <td>Sandeep Gupta</td>
                                    <td> Midas Blue Pvt Ltd </td>
                                    <td>JAVA </td>
                                    <td>2.4LPA</td>
                                </tr>





                                <tr>
                                    <td>Balaji Masal</td>
                                    <td> Benchmark Solutions Pvt Ltd </td>
                                    <td>.NET </td>
                                    <td>3.2 LPA</td>
                                </tr>
                                <tr>
                                    <td>Shraddha Patil</td>
                                    <td> ZCON Solutions Pvt Ltd</td>
                                    <td>.NET </td>
                                    <td>4.1 LPA</td>
                                </tr>

                                <tr>
                                    <td>Ganesh Gore</td>
                                    <td> Delmon Solutions</td>
                                    <td>.NET </td>
                                    <td>4.9 LPA</td>
                                </tr>

                                <tr>
                                    <td>Swapnita Kale</td>
                                    <td> Suma Soft Pvt. Ltd.</td>
                                    <td>.NET </td>
                                    <td>3.1 LPA</td>
                                </tr>

                                <tr>
                                    <td>Piyush Dwivedi</td>
                                    <td> Soft Tech</td>
                                    <td>.NET </td>
                                    <td>3.1 LPA</td>
                                </tr>

                                <tr>
                                    <td>Diksha Rahangale</td>
                                    <td> AnAr Sloutions Pvt Ltd</td>
                                    <td>.NET </td>
                                    <td>3.1 LPA</td>
                                </tr>

                                <tr>
                                    <td>Mahesh Khude</td>
                                    <td> Birla Medisoft Pvt Ltd</td>
                                    <td>.NET </td>
                                    <td>3.2 LPA</td>
                                </tr>

                                <tr>
                                    <td>Noopur Sarode</td>
                                    <td> Upyogee Soutions Pvt Ltd</td>
                                    <td>.NET </td>
                                    <td>2.4LPA</td>
                                </tr>

                                <tr>
                                    <td>Swarali Deshmukh</td>
                                    <td> Tata Motors</td>
                                    <td>.NET </td>
                                    <td>2.4LPA</td>
                                </tr>

                                <tr>
                                    <td>Amit Shinde</td>
                                    <td> Assure Technogy Pvt Ltd</td>
                                    <td>.NET </td>
                                    <td>2.4LPA</td>
                                </tr>

                                <tr>
                                    <td>Pooja Khante</td>
                                    <td>AnAr Solutions Pvt Ltd</td>
                                    <td>.NET </td>
                                    <td>4.5LPA</td>
                                </tr>

                                <tr>
                                    <td>Nitin Lonkar</td>
                                    <td>Accenture</td>
                                    <td>.NET </td>
                                    <td>4.5LPA</td>
                                </tr>

                                <tr>
                                    <td>Rutuja Dhamankar</td>
                                    <td>Soft Tech</td>
                                    <td>.NET </td>
                                    <td>1.8 LPA</td>
                                </tr>

                                <tr>
                                    <td>Hemangi Oke</td>
                                    <td>Mindtree</td>
                                    <td>.NET </td>
                                    <td>2.5 LPA</td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>






        </div>

    </div>
</div>
