
@{
    ViewBag.Title = "Contact Us - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="services" id="services">
        <div class="panel  panel-info">
            <div class="panel-body">
                <div class="col-md-4">
                    <h4 style="color: #0dc1d4e0;">Hadapsar <small style="color: #0dc1d4e0;">(Head Office)</small></h4>
                    <p style="text-align:justify ;height:140px;padding:2px">
                        CIIT Training Institute<br />
                        Office no.2, 1st Floor, Manisha Blitz, near shankar math, Above Vodaphone Showroom,  Hadapsar, Pune-411028<br />
                        Contact- 7028565830 / 7028561830
                    </p>
                    <p>
                        <iframe style=" width: 100%; height: 300px; border: 0" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJsyNIuO_BwjsRdPTlKq8Ta7U&key=AIzaSyAMUJFCsLDjCD9PgtYBhU7iXkYzDO-oQLE" allowfullscreen></iframe>

                    </p>
                </div>
                <div class="col-md-4">
                    <h4 style="color: #0dc1d4e0;">VimanNagar </h4>
                    <p style="text-align: justify; height: 140px; padding: 2px; ">
                        CIIT Training Institute<br />
                        Office no 3A,1st floor, PRAKASH developers, near hotel rasika, pune nagar road,
                        Vadgaon Sheri,Pune -411014<br />
                        Contact- 7028036611 / 7028694477
                    </p>
                    <p>
                        <iframe style=" width: 100%; height: 300px; border: 0" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJsyNIuO_BwjsRdPTlKq8Ta7U&key=AIzaSyAMUJFCsLDjCD9PgtYBhU7iXkYzDO-oQLE" allowfullscreen></iframe>

                    </p>
                </div>

                <div class="col-md-4">
                    <h4 style="color: #0dc1d4e0;">Baramati </h4>
                    <p style="text-align: justify; height: 140px; padding: 2px; ">
                        CIIT Training Institute<br />
                        Baramati Patas road infront of blood bank below Footwear Museum,Bhori complex <br />
                        Contact- 7410108740
                    </p>
                    <p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3791.2361020547146!2d74.57260731401009!3d18.15303448762408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc3a1484797297d%3A0xc995042e8505bf0c!2sCiit+Training+Institute+Baramati!5e0!3m2!1sen!2sus!4v1545213196063" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </p>
                </div>
            </div>
        </div>

        <div class="panel  panel-default">
            <div class="panel-heading">
                <h4>Find Us</h4>
            </div>
            <div class="panel-body">
                <iframe style=" width: 100%; height: 500px; border: 0" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJsyNIuO_BwjsRdPTlKq8Ta7U&key=AIzaSyAMUJFCsLDjCD9PgtYBhU7iXkYzDO-oQLE" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

