
@{
    ViewBag.Title = "Success";
}

<div class="container" style="margin-top: 5.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    <div class="container">
        <div class="row main-top-margin text-center" style="height:400px;padding-top:10%">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-scrollreveal="enter top and move 100px, wait 0.5s">

                <h3 style="color:darkgreen">
                    Thank you for showing interest in our industrial training Program.
                    We will be in touch with you in a while for next process.


                </h3>
                <h3 style="color:darkgreen">Thank You</h3>
                <h3 style="color:darkgreen">Y-SAAS Infotech (Develoment Partner)</h3>
                <h3 style="color:darkgreen">CIIT Training Institute Pvt Ltd (Training Partner)</h3>

            </div>
        </div>
    </div>
</div>
