
@{
    ViewData["Title"] = "Android_Development";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top: 3.4%; border: 1px solid groove; border-radius: 0.5%; background-color: white; padding-left: 0px; padding-right: 0px">
    <div style="height:200px;width:100%;background-color:darkblue;padding-left:0px">
        <div style="background-color:#0dc1d4e0; height: 200px; width: 100%; ">
            <div class="col-md-10">

                <div id="slideshow">
                    <div style="padding-top:50px">

                        <h4>Plenty of Angular Jobs are waiting for you </h4>
                        <br />


                        <h1>Android_Development</h1>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                       
