
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/eLearningLayout.cshtml";
}
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            @foreach (var item in ViewBag.topics)
            {
                <li class="list-group-item"><span style="font-size:small">
                <a href="/ELearning/Content/@item.content_id">@item.content_name</a>
                </span>
            </li>
            }
        </ul>
    </div>
    <div class="col-md-10">
        <h2>
            @Model.content_name
        </h2>
        <div style="width:100%;border:1px solid gray;padding:10px;text-align:justify">
            @Html.Raw(Model.description)
        </div>
        @*<embed src="~/ppts/Angular Tutorial.pdf#embedded=true&toolbar=0&navpanes=0" style="width: 100%; height: 100vh " />*@

    </div>
</div>


