
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/eLearningLayout.cshtml";
}

<script>
    $(document).ready(function () {
        GetTopics();
    })

    function GetTopics() {
        $.ajax({
            url: '/api/modulewisetopicdata/@ViewBag.module',
            method: 'get',
            contentType: 'application/json',
            success: function (resp) {
                console.log(resp);
                $("#dvtopics").empty();
                $.each(resp, function (i, d) {
                    $("#dvtopics").append("<div class='col-md-4'><a href='/ELearning/Topic_wise_contents/"+d.topic_id+"'><p style='height:100px;width:100%;background-color:#1097ad;color:white;font-size:20px;text-align:center;padding-top:10%'>" + d.topic_name + "</p></a></div>")
                })

            }
        })
    }
</script>

<h2>Dot Net</h2>

<div class="row" id="dvtopics">

</div>


