@{
    ViewBag.Title = "Celebration - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/swipebox.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/move-top.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //moving-top scrolling -->
<!-- gallery popup -->
<script src="~/Scripts/jquery.swipebox.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(".swipebox").swipebox();
    });
</script>

<style>
    .img-responsive {
        height: 160px;
        width: 100%;
    }


    a {
        color: #0275d8;
    }

    h1 {
        margin-top: 0px;
    }

    .navbar-default .navbar-nav > li > a {
        color: #0275d8;
    }
</style>
<div class="container" style="margin-top: 3.4%; padding-left: 0px; padding-right: 0px; border-radius: 0.5%; background-color: white;">



    <section class="portfolio-w3ls" id="gallery">
        <h3 class="w3l-title" style="text-align:center">Our Gallery</h3>
        <div class="w3layouts_header">
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/35.jpeg" class="swipebox">
                <img src="~/images/slides/35.jpeg" class="img-responsive" alt="Engg College Workshop">
                <div class="form-group">
                    <h5 style="padding:5px">Engg College Workshop</h5>

                </div>
            </a>
        </div>

        <div class="col-md-3  gallery-grid gallery1">
            <a href="~/images/slides/32.jpeg" class="swipebox">
                <img src="~/images/slides/32.jpeg" class="img-responsive" alt="Engg College Workshop">
                <div class="form-group">

                    <h5 style="padding:5px">Engg College Workshop</h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/31.png" class="swipebox">
                <img src="~/images/slides/31.png" class="img-responsive" alt="Engg College Workshop">
                <div class="form-group">
                    <h5 style="padding:5px">Engg College Workshop</h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/12.jpg" class="swipebox">
                <img src="~/images/slides/12.jpg" class="img-responsive" alt="Engg College Workshop">
                <div class="form-group">
                    <h5 style="padding:5px">Engg College Workshop</h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/19.jpeg" class="swipebox">
                <img src="~/images/slides/19.jpeg" class="img-responsive" alt="Engg College Workshop">
                <div class="form-group">
                    <h5 style="padding:5px">Engg College Workshop</h5>

                </div>
            </a>
        </div>

        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/30.png" class="swipebox">
                <img src="~/images/slides/30.png" class="img-responsive" alt="Engg College Workshop">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Engg College Workshop
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3  gallery-grid gallery1">
            <a href="~/images/slides/31.png" class="swipebox">
                <img src="~/images/slides/31.png" class="img-responsive" alt="Engg College Workshop">
                <div class="form-group">
                    <h5 style="padding:5px">Engg College Workshop</h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/6.jpg" class="swipebox">
                <img src="~/images/slides/6.jpg" class="img-responsive" alt="MCA College  Seminar">
                <div class="form-group">
                    <h5 style="padding:5px">
                        MCA College  Seminar
                    </h5>

                </div>
            </a>
        </div>

        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/7.jpg" class="swipebox">
                <img src="~/images/slides/7.jpg" class="img-responsive" alt="MCA College  Seminar">
                <div class="form-group">
                    <h5 style="padding:5px">
                        MCA College  Seminar</h5>

</div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/8.jpg" class="swipebox">
                <img src="~/images/slides/8.jpg" class="img-responsive" alt="MCA College  Seminar">
                <div class="form-group">
                    <h5 style="padding:5px">MCA College  Seminar</h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/9.jpg" class="swipebox">
                <img src="~/images/slides/9.jpg" class="img-responsive" alt="MCA College  Seminar">
                <div class="form-group">
                    <h5 style="padding:5px">
                        MCA College  Seminar
                    </h5>

                </div>
            </a>
        </div>


        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/10.jpg" class="swipebox">
                <img src="~/images/slides/10.jpg" class="img-responsive" alt="Ganpati Festival">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Ganpati Festival
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3  gallery-grid gallery1">
            <a href="~/images/slides/11.jpg" class="swipebox">
                <img src="~/images/slides/11.jpg" class="img-responsive" alt="Ganpati Festival">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Ganpati Festival
                    </h5>

                </div>
            </a>
        </div>

        <div class="col-md-3  gallery-grid gallery1">
            <a href="~/images/slides/55.jpeg" class="swipebox">
                <img src="~/images/slides/55.jpeg" class="img-responsive" alt="Student Placement Celebration">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Student Placement Celebration
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3  gallery-grid gallery1">
            <a href="~/images/slides/50.jpeg" class="swipebox">
                <img src="~/images/slides/50.jpeg" class="img-responsive" alt="Student Placement Celebration">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Student Placement Celebration
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/57.jpeg" class="swipebox">
                <img src="~/images/slides/57.jpeg" class="img-responsive" alt="Student Placement Celebration">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Student Placement Celebration
                    </h5>

                </div>
            </a>
        </div>




        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/25.jpg" class="swipebox">
                <img src="~/images/slides/25.jpg" class="img-responsive" alt="Anniversary Celebration">
                <div class="form-group">
                    <h5 style="padding:5px">
                        CIIT's Anniversary Celebration
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/13.jpg" class="swipebox">
                <img src="~/images/slides/13.jpg" class="img-responsive" alt="Anniversary Celebration">
                <div class="form-group">
                    <h5 style="padding:5px">
                        CIIT's Anniversary Celebration
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/14.jpg" class="swipebox">
                <img src="~/images/slides/14.jpg" class="img-responsive" alt="Anniversary Celebration">
                <div class="form-group">
                    <h5 style="padding:5px">
                        CIIT's Anniversary Celebration
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/15.jpg" class="swipebox">
                <img src="~/images/slides/15.jpg" class="img-responsive" alt="Anniversary Celebration">
                <div class="form-group">
                    <h5 style="padding:5px">
                        CIIT's Anniversary Celebration
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/16.jpg" class="swipebox">
                <img src="~/images/slides/16.jpg" class="img-responsive" alt="Anniversary Celebration">
                <div class="form-group">
                    <h5 style="padding:5px">
                        CIIT's Anniversary Celebration
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/20.jpg" class="swipebox">
                <img src="~/images/slides/20.jpg" class="img-responsive" alt="Anniversary Celebration">
                <div class="form-group">
                    <h5 style="padding:5px">CIIT's Anniversary Celebration</h5>

                </div>
            </a>
        </div>

        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/17.jpg" class="swipebox">
                <img src="~/images/slides/17.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">Employee of the Month</h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/18.jpg" class="swipebox">
                <img src="~/images/slides/18.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Employee of the Month
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/21.jpg" class="swipebox">
                <img src="~/images/slides/21.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Guidance from Industry Experts
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/39.jpg" class="swipebox">
                <img src="~/images/slides/39.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Guidance from Industry Experts
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/23.jpg" class="swipebox">
                <img src="~/images/slides/23.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Guidance from Industry Experts
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/40.jpg" class="swipebox">
                <img src="~/images/slides/40.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Guidance from Industry Experts
                    </h5>

                </div>
            </a>
        </div>

        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/24.jpg" class="swipebox">
                <img src="~/images/slides/24.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        College Student Visit
                    </h5>

                </div>
            </a>
        </div>



        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/41.jpg" class="swipebox">
                <img src="~/images/slides/41.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Mentors Visit
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3  gallery-grid gallery1">
            <a href="~/images/slides/42.jpg" class="swipebox">
                <img src="~/images/slides/42.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Mentors Visit
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3  gallery-grid gallery1">
            <a href="~/images/slides/43.jpg" class="swipebox">
                <img src="~/images/slides/43.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Mentors Visit
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3  gallery-grid gallery1">
            <a href="~/images/slides/44.jpg" class="swipebox">
                <img src="~/images/slides/44.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Mentors Visit
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3  gallery-grid gallery1">
            <a href="~/images/slides/26.jpg" class="swipebox">
                <img src="~/images/slides/26.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Corporate Training(Diabos)
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3  gallery-grid gallery1">
            <a href="~/images/slides/29.jpg" class="swipebox">
                <img src="~/images/slides/29.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Student thoughts About CIIT
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/3.jpg" class="swipebox">
                <img src="~/images/slides/3.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        CIIT's Core Team
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/62.jpg" class="swipebox">
                <img src="~/images/slides/62.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Development Team
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/61.jpg" class="swipebox">
                <img src="~/images/slides/61.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Development Team
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/2.jpg" class="swipebox">
                <img src="~/images/slides/2.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Gift from Students
                    </h5>

                </div>
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/4.jpg" class="swipebox">
                <img src="~/images/slides/4.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Balniketan Visit
                    </h5>


                </div>
            </a>
        </div>

        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/images/slides/1.jpg" class="swipebox">
                <img src="~/images/slides/1.jpg" class="img-responsive" alt="/">
                <div class="form-group">
                    <h5 style="padding:5px">
                        Visit With Sindutai Sapkal(Maai)
                    </h5>

                </div>
            </a>
        </div>




        <div class="clearfix"> </div>
    </section>

</div>
